* {
  box-sizing: border-box;
}
body {
  font-family: Chivo, sans-serif;
  line-height: 1.65;
  background: #f2b737;
  padding: 0;
  margin: 0;
}

.AnnouncementBar__Wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}

.AnnouncementBar__Content {
  color: #000 !important;
  font-weight: bold;
  font-size: 16px!important;
}

.Heading {
  margin: 0;
}

.right {
  text-align: center;
}

.left {
  text-align: center;
}

.Header__FlexItem {
  display: flex;
  justify-content: flex-start;
}

.navbar_Icon {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 20px;
}

.HorizontalList__Item {
  text-align: left !important;
}

.HorizontalList__Item.is-active .Link {
  font-weight: bold;
}

.Heading {
  text-decoration: none;
  color: white;
  font-size: 13px;
}

.Header__Wrapper {
  display: flex;
  align-items: center;
  background-color: #262626;
  padding: 18px 50px;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid #fff;
}

.HorizontalList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.HorizontalList__Item {
  display: inline-block;
  margin: 6px 21px;
  font-weight: 700;
}

.Link {
  color: #efecec;
  text-decoration: none;
}
.bars {
  display: none;
}

.navbar-icons {
  display: flex;
  align-items: center;
  /* Add your icons container styles here */
}

.navbar-icon {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 30px;
  color: white;
  font-size: 20px;
}

.Header__FlexItem--logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-left: -150px;
}

.Header__Logo {
  margin: 0;
}

.Header__LogoLink {
  text-decoration: none;
}

.Header__LogoImage {
  max-width: 350px;
  height: auto;
}

.container {
  display: flex;
}

.text-section {
  flex: 1;
  color: #000;
  padding: 50px 100px 50px 50px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.custom-heading {
  max-width: 430px;
  font-size: 26px;
  line-height: 36px;
}
.custom-description {
  letter-spacing: 1px;
  max-width: 430px;
  font-size: 1em;
}

.custom-link-transiton {
  text-align: left!important;
  text-decoration: underline;
  color: black;
  transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.custom-link-transiton:hover {
  text-decoration: none;
  color: black;
}
.image-section {
  /* flex: 1; */
  width: 50%;
    display: flex;
    justify-content: center; /* Horizontally center the image */
    align-items: center; /* Vertically center the image */
}
.honey_extractor {
  max-width: 100%;
  height: auto;
}

.colo {
  width: 73%;
  margin: auto;
  text-align: center;
  margin: 0;
}
.roww {
  width: 100%;
  display: flex;
  padding: 0px 80px;
}
.Shipping__Text {
  margin: 0;
  color: white;
}
.Shipping__Container {
  background-color: #262626;
  padding: 20px 0px;
}

/* Card Section */

.Category__Section {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  padding-top: 10px;
}
.product-card {
  /* width: 300px; */
  border: 3px solid #f2b737;
  overflow: hidden;
  outline: 5px solid white;
  width: calc(16.666% - 20px);
  margin-bottom: 20px;
}

.product-image img {
  width: 100%;
  height: auto;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px 12px 12px;
}

.product-title {
  font-size: 16px;
  margin: 0;
  color: #000;
  text-align: center;
  line-height: 1.2;
  margin: 10px;
}

.view-product-button {
  text-align: center;
  display: inline-block;
  padding: 7px 10px;
  background-color: #f2b737;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  border: 1px solid #f2b737;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
}


/* what we do */
.do__container {
  display: flex;
  padding: 50px 0px 40px 50px;
  color: #000;
}

.do-text-section {
  flex: 1;
  color: #000;
  padding: 0px 100px;
  margin: 0;
}

.do-text-section > h2 {
  margin: 0;
  padding: 0;
}

.do__text {
  font-size: 15px;
  max-width: 430px;
}

.bee-img {
  max-width: 100%;
  height: auto;
}

/* Footer */
.custom-container {
  margin: 0 auto;
  padding: 30px 40px 24px;
}

.custom-footer {
  background-color: #262626;
  color: #fff;
}

/* Inner Content */
.custom-inner {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 25px;
}

/* Footer Block */

/* Logo */
.custom-logo {
  width: 230px;
  height: 44px;
  margin: 0 auto 20px;
}

/* Footer Content */
.custom-content {
  font-size: 14px;
  line-height: 1.5;
}

.custom-social {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  padding: 0px;
}

.custom-social-item {
  list-style: none;
  margin-right: 25px;
}

/* Quick Links */
.custom-links {
  padding: 0px;
}

.custom-padding{
  padding-left: 150px
}
.custom-links-item {
  list-style: none;
  text-align: left;
  margin-bottom: 10px;
}

.custom-link {
  text-decoration: none;
  color: white;
}

.custom-links-title {
  font-size: 13px;
  margin-bottom: 20px;
}

/* Info Links */
.custom-info-title {
  font-size: 13px;
  margin-bottom: 20px;
}

.custom-info {
  text-decoration: none;
  color: white;
  padding-left: 0px;
}

.custom-info-item {
  list-style: none;
  text-align: left;
  margin-bottom: 10px;
}

/* Newsletter */
.custom-newsletter {
  text-align: center;
}

.custom-newsletter-title {
  font-size: 13px;
  margin-bottom: 20px;
  max-width: 255px;
}

.custom-newsletter-content {
  font-size: 15px;
  line-height: 1.5;
  max-width: 255px;
}

.custom-newsletter-form {
  margin-top: 10px;
  max-width: 255px;
}

.custom-newsletter-input {
  display: block;
  padding: 12px 14px;
  border-radius: 0;
  border: 1px solid #f2b737;
  width: 100%;
  line-height: normal;
  resize: none;
  transition: border-color 0.1s ease-in-out;
  background: transparent;
  color: white;
}

.custom-newsletter-submit {
  background-color: black;
  color: #fff;
  border: 1px solid white;
  cursor: pointer;
  display: block;
  margin-top: 20px;
  padding: 14px 28px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* Aside */
.custom-aside {
  margin-top: 20px;
  margin-left: 45px;
}

.custom-storename {
  font-size: 12px;
  color: #777;
  text-decoration: none;
  color: #fff;
}

/* -------------------1140px----------------- */
@media screen and (max-width: 1140px) {
  .bars {
    display: block;
  }
  .Header__MainNav{
    display: none;
  }
  .Header__FlexItem--logo {
    margin-left: auto;
  }
  .product-card {
    width: calc(50% - 20px);
  }
  .custom-padding{
    padding-left: 0px;
    padding-right: 180px
  }
}


/* -------------------640px----------------- */
@media screen and (max-width: 640px) {
  .AnnouncementBar__Wrapper {
    flex-direction: column;
    font-size: 10px;
  }
  .Header__Wrapper {
    padding: 15px 18px;
  }
  .Header__LogoImage {
    max-width: 185px;
    height: auto;
  }
  .navbar-icon {
    font-size: 18px;
  }
  .navbar-icon.fa-user {
    display: none!important;
  }
  .container {
    flex-direction: column;
  }
  .text-section {
    width: 100%;
    padding: 50px;
    text-align: center;
  }
  .custom-heading {
    font-size: 22px;
    max-width: 100%;
  }
  .image-section {
    width: 100%;
  }
  .colo {
    padding-right: 50px;
  }
  .Category__Section {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    padding-top: 0px;
  }
  .product-details {
    background-color: #fff;
  }
  .product-card {
    width: 100%;
    outline: none;
    border: 25px solid #f2b737;
    border-bottom: 0px solid #f2b737;
    margin-bottom: 0px;

  }

  .do__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px;

  }
  
  .do-text-section {
    padding: 50px 24px 20px;

  }
  
  .do__text {
    font-size: 15px;
    max-width: 100%;
  }
  
  .bee-img {
    max-width: 100%;
    height: auto;
  }

  .roww {
    width: 100%;
    display: flex;
  }

  /* Footer */
  .custom-container {
    margin: 0 auto;
    padding: 0 20px;
  }

  /* Footer */
  .custom-footer {
    background-color: #262626;
    padding: 40px 0px 20px;
  }

  /* Inner Content */
  .custom-inner {
    display: flex;
    flex-wrap: wrap;
  }

  /* Footer Block */
  .custom-block {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

 .custom-block:last-child {
  margin-bottom: 0;
 }
  /* Logo */
  .custom-logo {
    width: 230px;
    height: 44px;
    margin: 0 auto 20px;
  }

  /* Footer Content */
  .custom-content {
    font-size: 14px;
    line-height: 1.5;
  }

  /* Social Icons */
  .custom-social {
    display: flex;
    margin-bottom: 0px;
  }

  .custom-padding{
    padding-left: 0px
  }

  .custom-links-title {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .custom-info-title {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .custom-newsletter-title {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .custom-newsletter-content {
    font-size: 14px;
    line-height: 1.5;
  }

  .custom-newsletter-form {
    margin-top: 10px;
  }

  .custom-newsletter-input {
    display: block;
    padding: 12px 14px;
    border-radius: 0;
    border: 1px solid #f2b737;
    width: 100%;
    line-height: normal;
    resize: none;
    transition: border-color 0.1s ease-in-out;
    background: transparent;
    color: white;
  }
  
  .custom-newsletter-submit {
    background-color: black;
    color: #fff;
    border: 1px solid white;
    cursor: pointer;
    display: block;
    margin-top: 20px;
    padding: 14px 28px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }

  /* Aside */
  .custom-aside {
    text-align: center;
    /* margin-top: 20px; */
  }

  .custom-storename {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
  }
}
