:root {
  --heading-font-family: Chivo, sans-serif;
  --heading-font-weight: 700;
  --heading-font-style: normal;
  --text-font-family: Chivo, sans-serif;
  --text-font-weight: 400;
  --text-font-style: normal;
  --base-text-font-size: 15px;
  --default-text-font-size: 14px;
  --background: #f2b737;
  --background-rgb: 242, 183, 55;
  --light-background: #ffffff;
  --light-background-rgb: 255, 255, 255;
  --heading-color: #000000;
  --text-color: #000000;
  --text-color-rgb: 0, 0, 0;
  --text-color-light: #000000;
  --text-color-light-rgb: 0, 0, 0;
  --link-color: #000000;
  --link-color-rgb: 0, 0, 0;
  --border-color: #ce9c2f;
  --border-color-rgb: 206, 156, 47;
  --button-background: #000000;
  --button-background-rgb: 0, 0, 0;
  --button-text-color: #ffffff;
  --header-background: #efecec;
  --header-heading-color: #efecec;
  --header-light-text-color: #efecec;
  --header-border-color: #efecec;
  --footer-background: rgba(0, 0, 0, 0);
  --footer-text-color: #ffffff;
  --footer-heading-color: #ffffff;
  --footer-border-color: rgba(38, 38, 38, 0.15);
  --navigation-background: #f2b737;
  --navigation-background-rgb: 242, 183, 55;
  --navigation-text-color: #000000;
  --navigation-text-color-light: rgba(0, 0, 0, 0.5);
  --navigation-border-color: rgba(0, 0, 0, 0.25);
  --newsletter-popup-background: #f2b737;
  --newsletter-popup-text-color: #000000;
  --newsletter-popup-text-color-rgb: 0, 0, 0;
  --secondary-elements-background: #f2b737;
  --secondary-elements-background-rgb: 242, 183, 55;
  --secondary-elements-text-color: #ffffff;
  --secondary-elements-text-color-light: rgba(255, 255, 255, 0.5);
  --secondary-elements-border-color: rgba(255, 255, 255, 0.25);
  --product-sale-price-color: #ff4036;
  --product-sale-price-color-rgb: 255, 64, 54;
  --product-star-rating: #f6a429;
  --payment-terms-background-color: #f2b737;
  --horizontal-spacing-four-products-per-row: 60px;
  --horizontal-spacing-two-products-per-row: 60px;
  --vertical-spacing-four-products-per-row: 60px;
  --vertical-spacing-two-products-per-row: 75px;
  --drawer-transition-timing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --header-base-height: 80px;
  --cursor-zoom-in-svg: url(//hillcobees.com/cdn/shop/t/2/assets/cursor-zoom-in.svg?v=100326362725928540331647345870);
  --cursor-zoom-in-2x-svg: url(//hillcobees.com/cdn/shop/t/2/assets/cursor-zoom-in-2x.svg?v=71919207650934979201647345870);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  margin: 0px;
  padding: 0px;
  /* overflow-x: hidden; */
}

body {
  font-family: Chivo, sans-serif;
  line-height: 1.65;
  background: #f2b737;
  width: 100%;
  height: 100%;
  margin: 0px;
  /* overflow-x: hidden; */
}

.PageOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  /* visibility: visible; */
  display: none;
  /* opacity: 0.1; */
  background: #36363680;
  /* transition: opacity .3s ease-in-out,visibility .3s ease-in-out; */
}

.drawer-dropdown {
  display: none;
  padding-left: 15px;
  transition: left 0.5s ease;
}

.show-dropdown {
  display: block;
}

.drawer-link {
  text-decoration: none;
  color: #00000080;
}

.drawer-linklist__item {
  list-style: none;
  font-size: 12px;
  padding: 13px 0px;
}

#drawer {
  position: relative;
  width: 500px;
  height: 100vh;
  background-color: #f2b737;
  position: fixed;
  top: 0;
  left: -500px;
  transition: left 0.5s ease;
  /* transition: transform .5s cubic-bezier(0.645, 0.045, 0.355, 1),visibility .5s cubic-bezier(0.645, 0.045, 0.355, 1); */
}

.drawer-main {
  padding: 0px 24px 18px 18px;
}

.drawer-content {
  flex: 1;
  /* overflow-y: auto; */
  max-height: calc(100vh - 130px);
}
#close-button {
  background-color: #f2b737;
  border: none;
  font-size: 20px;
  margin-left: 0;
  padding: 0;
  line-height: 0;
}

.drawer-header {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 18px;
}

.drawer-main::after {
  display: block;
  content: "";
  height: 35px;
}

#drawer.open {
  left: 0;
}

#menu-button {
  background: none;
  border: none;
  cursor: pointer;
}

.menu-icon {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #000;
  margin-bottom: 6px;
  transition: transform 0.3s ease;
}

.menu-icon.open {
  transform: rotate(45deg);
}

.menu-icon.open:before {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #000;
  transform: rotate(-90deg) translateX(-10px);
  transition: transform 0.3s ease;
}

.menu-icon.open:after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #000;
  transform: rotate(-90deg) translateX(10px);
  transition: transform 0.3s ease;
}

.collapsible-button {
  color: black;
  text-decoration: none;
}

.horizontal-line {
  border: 0.5px solid #00000080;
  margin: 0px !important;
}

.primary-link {
  color: black;
  text-decoration: none;
  display: block;
  /* margin-bottom: 10px; */
  padding: 20px 0px;
  font-size: 13px;
  font-weight: 700;
}

.account-drawer {
  color: #00000080;
  font-weight: 300 !important;
  font-size: 15px;
}

.social-list {
  display: flex;
  list-style: none;
  color: #00000080;
  justify-content: space-around;
  padding: 12px 0px;
}

.drawer-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 48px;
  /* padding-top: 10px; */
}

/* AnnoucementBar */

.AnnouncementBar__Wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}

.AnnouncementBar__Content {
  color: #000 !important;
  font-weight: bold;
  font-size: 15.5px !important;
}

/* .Heading {
  margin: 0;
} */

.right {
  text-align: center;
}

.left {
  text-align: center;
}

.HorizontalList__Item:after {
  position: absolute;
  content: "";
  display: block;
  width: auto;
  height: 1px;
  background-color: #fff;
  transition: width 0.3s;
  bottom: 0;
}

.HorizontalList__Item.is-active:after,
.HorizontalList__Item:hover:after {
  width: 40px;
}

.About_HorizontalList_Item::after {
  position: absolute;
  content: "";
  display: block;
  width: auto;
  height: 1px;
  background-color: #fff;
  transition: width 0.3s;
  bottom: 0;
}

.About_HorizontalList_Item:hover::after {
  width: 58px;
}

.Contact_HorizontalList_Item::after {
  position: absolute;
  content: "";
  display: block;
  width: auto;
  height: 1px;
  background-color: #fff;
  transition: width 0.3s;
  bottom: 0;
}

.Contact_HorizontalList_Item:hover::after {
  width: 50px;
}

.Header__FlexItem {
  display: flex;
  justify-content: flex-start;
}

/* icons */

.navbar_Icon {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 20px;
}

.Icon--account {
  width: 20px;
}

.Icon--search-desktop {
  width: 21px;
  display: block;
}
.Icon--search {
  width: 18px;
  display: none;
}

.Icon--cart-desktop {
  width: 19px;
}

.Icon--cart {
  width: 17px;
  display: none;
}

.HorizontalList__Item {
  text-align: left !important;
  font-weight: 500;
  cursor: pointer;
  /* position: relative; */
}

.HorizontalList__Item:first-child {
  margin-left: 0 !important;
}

.HorizontalList__Item.is-active {
  cursor: pointer;
}

.Heading {
  text-decoration: none;
  color: white;
  font-size: 13px;
}

.Header__Wrapper {
  background: url(/assests/Untitled-1.jpg12.jpg23.jpgnew_8be1b921-bf6c-4fa1-988e-b853340c794a.webp)
    rgb(60, 60, 60) !important;
  display: flex;
  align-items: center;
  background-color: #262626;
  padding: 18px 50px 11px;
  position: sticky;
  top: 0;
  z-index: 20;
  border-bottom: 1px solid #fff;
}

.HorizontalList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.HorizontalList__Item {
  display: inline-block;
  margin: 6px 21px;
  font-weight: 700;
  cursor: pointer;
}

.shop-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.DropdownMenu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 100%;
  padding: 25px 45px 25px 25px;
  min-width: 200px;
  max-width: 270px;
  width: max-content;
  text-align: left;
  background: #efecec;
  border: 1px solid #efecec;
  border-top: none;
  transition: all 0.3s ease-in-out;
  line-height: 1.2; /* Adjust the value as needed */
}

.HorizontalList__Item:hover .DropdownMenu {
  visibility: visible;
  opacity: 1;
}

.Linklist__Item {
  list-style: none;
  line-height: -1px;
  padding: 5px 0px;
}

.Link--secondary {
  color: #000;
  text-decoration: none;
  font-weight: 300;
  font-size: 15px;
}

.Link {
  color: #efecec;
  text-decoration: none;
}

.bars {
  display: none;
}

.navbar-icons {
  display: flex;
  align-items: center;
  /* Add your icons container styles here */
}

.navbar-icon {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 30px;
  color: white;
  font-size: 20px;
}

.Header__FlexItem--logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-left: -150px;
  z-index: -1;
}

.Header__Logo {
  margin: 0;
}

.Header__LogoLink {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.Header__LogoImage {
  max-width: 350px;
  height: auto;
}

/* Search Section */

.SearchDropdown {
  /* display: block; */
  position: absolute;
  top: 120%;
  width: 100%;
  left: 0;
  /* border: 2px solid black; */
  /* border-top: none; */
  padding: 28px 50px;
  background: #f2b737;
  visibility: hidden;
  /* opacity: 0; */
  transform: translateY(-25px);
  transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out,
    visibility 0.15s ease-in-out;
}

.Search__Inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Search__InputIconWrapper {
  padding-right: 20px;
}

.Search__Form {
  display: flex;
  align-items: center;
}

.Search__Input {
  background: none;
  width: 100%;
  height: 25px;
  border: none;
  outline: none;
  font-size: 14px;
  vertical-align: middle;
  padding: 0px;
  box-sizing: border-box;
}

.Search__Input::placeholder {
  color: black;
  font-weight: bold;
  font-size: large;
}

#Search__Close {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  color: black;
  font-size: 14;
  line-height: 1;
}

.hidden-tablet-and-up {
  width: 18px;
  display: none;
}

.hidden-phone {
  width: 21px;
  display: block;
}

/* Footer */
.custom-container {
  margin: 0 auto;
  padding: 30px 40px 24px;
}

.custom-footer {
  background: url(/assests/Untitled-1.jpg12.jpg23.jpgnew_8be1b921-bf6c-4fa1-988e-b853340c794a.webp)
    rgb(60, 60, 60) !important;
  background-color: #262626;
  color: #fff;
}

/* Inner Content */
.custom-inner {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 25px;
}

/*---------------------main section-----------------------*/
.CollectionToolbar {
  display: none;
}

.CollectionInner {
  display: flex;
  margin: 50px 0px 0px;
}

/* Filter */
.CollectionInner__Sidebar {
  margin-right: 0px;
  margin-left: 50px;
  padding: 0px 0px 50px;
  position: sticky;
  top: 0px;
  flex: none;
  width: 200px;
}

.CollectionFilters {
  max-width: 200px;
  margin-top: 12px;
}

.Collapsible {
  max-width: 200px;
  margin: 0;
  font-size: 15px;
  margin: 0px 0px 32px;
}

.Collapsible__Button {
  display: block;
  position: relative;
  width: 100%;
  margin: 0px 0px 16px;
  text-align: left;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 13px;
  font-weight: var(--heading-font-weight);
  font-style: var(--heading-font-style);
  color: var(--heading-color);
  transition: color 0.2s ease-in-out;
}

/* .Collapsible__Inner {
  margin: 0px 0px 40px;
} */

.Linklist {
  list-style: none;
  padding: 0;
}

.Linklist__Item {
  position: relative;
  display: block;
  margin-bottom: 12px;
  width: 100%;
  line-height: 1.5;
  text-align: left;
  transition: all 0.2s ease-in-out;
  padding: 0px;
}

.Linklist__Item::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  top: calc(50% - 3px);
  left: 0;
  border-radius: 100%;
  background: var(--text-color);
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.Linklist__Item.is-selected::before {
  opacity: 1;
  transition-delay: 0.1s;
}

.Linklist__Item.is-selected {
  padding-left: 18px;
}

.Linklist__Item > .Link {
  display: block;
  width: 100%;
  text-align: inherit;
  color: #000;
  font-size: 15px;
}

.price-range {
  padding: 5px 0px 0px;
}

.price-range__range-group {
  position: relative;
  margin-block-end: 20px;
}

.range-group {
  height: 2px;
  background: linear-gradient(
    to right,
    var(--border-color) var(--range-min),
    rgba(var(--text-color-rgb), 0.7) var(--range-min),
    rgba(var(--text-color-rgb), 0.7) var(--range-max),
    var(--border-color) var(--range-max)
  );
  border-radius: 4px;
  position: relative;
  color: #000;
}
.range-group .range {
  pointer-events: none;
  height: 2px;
  vertical-align: top;
  color: #000;
}

.range {
  appearance: none;
  width: 100%;
  background: transparent;
  position: absolute;
  color: #000;
}

/* Style the range input track */
/* input[type="range"] {
  appearance: none; 
  width: 100%;
  height: 8px; 
  background: black; 
  border-radius: 4px;
  outline: none; 
  margin: 10px 0;
}  */

/* Style the range input thumb (slider dot) */
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
  cursor: pointer;
}

input {
  line-height: normal;
  border-radius: 0;
}

.price-range__input-group {
  display: flex;
  align-items: center;
}

.price-range__input {
  flex: 1 0 0;
  min-width: 0;
}

.input-prefix {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 10px;
  border: 1px solid var(--border-color);
  font-size: 14px;
}

.input-prefix__field {
  padding: 0;
  appearance: none;
  min-width: 0;
  width: 100%;
  background: transparent;
  border: none;
  text-align: right !important;
  color: black !important;
}

.input-prefix__field::placeholder {
  color: black; /* Change this to your desired color */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Optional: You can adjust the margin as needed */
}

input[type="number"]:focus {
  outline: none;
}

.price-range__delimiter {
  margin-inline: 15px;
}

.CollectionFilters__ClearButton {
  margin-top: 24px;
}

.Button--secondary {
  color: var(--text-color-light);
  border: 1px solid rgba(var(--text-color-light-rgb), 0.2);
}

/* .Button--secondary::before {
  background-color: var(--button-background);
  transform-origin: right center;
  transform: scaleX(0);
} */

.Button {
  position: relative;
  display: inline-block;
  padding: 14px 28px;
  line-height: normal;
  /* border: 1px solid transparent; */
  border-radius: 0;
  text-transform: uppercase;
  font-size: calc(
    var(--base-text-font-size) - (var(--default-text-font-size) - 12px)
  );
  text-align: center;
  letter-spacing: 0.2em;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  font-style: var(--heading-font-style);
  background-color: transparent;
  transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),
    border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-tap-highlight-color: initial;
  cursor: pointer;
}

/* Product Section */
.CollectionInner__Products {
  flex: 1;
  background-color: #f2b737;
  overflow-y: auto;
}

.ProductList {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 50px 0px 0px;
}

.ProductItem {
  text-align: center;
  white-space: normal;
  width: 25%;
  margin: 0px 0px 60px;
  padding: 0px 0px 0px 60px;
  position: relative;
  overflow: hidden;
}

.ProductItem__Image {
  max-width: 100%;
  height: auto;
}

.CollectionInner__Products .ProductItem__Info {
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 23px !important;
}

.ProductItem__Info {
  margin-top: 20px;
  font-size: calc(
    var(--base-text-font-size) - (var(--default-text-font-size) - 12px)
  );
}

.ProductItem__Title {
  display: block;
  margin-bottom: 4px;
}

.ProductItem__Title > a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

.ProductItem__Info > .Heading {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  font-style: var(--heading-font-style);
  color: var(--heading-color);
  transition: color 0.2s ease-in-out;
}

.Price {
  display: inline-block;
}

.variant-selector-container {
  padding: 0px 0px 0px;
  width: 100%;
}

.variant-selector {
  /* overflow-wrap: break-word; */
  white-space: normal;
  text-decoration: none;
  line-height: 1.2;
  letter-spacing: 0px;
  width: 100%;
  height: 40px;
  font-weight: normal;
  font-style: normal;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: rgb(51, 51, 51);
  background-color: transparent;
  border-width: 1px;
  border-color: rgb(51, 51, 51);
  border-radius: 0px;
  border-style: solid;
  margin: 5px 0px 0px;
  padding: 0px 10px;
  cursor: pointer;
  background-image: linear-gradient(45deg, transparent 50%, rgb(51, 51, 51) 50%),
    linear-gradient(135deg, rgb(51, 51, 51) 50%, transparent 50%);
  background-position: calc(100% - 14px) calc(1em + 2px),
    calc(100% - 10px) calc(1em + 2px);
  background-size: 4px 4px;
  background-repeat: no-repeat;
  appearance: none;
  text-indent: 1px;
}

select:focus {
  outline: none;
}

.quantity-selector {
  /* overflow-wrap: break-word; */
  white-space: normal;
  text-decoration: none;
  line-height: 1.2;
  letter-spacing: 0px;
  height: 40px;
  min-height: 40px;
  font-weight: normal;
  font-style: normal;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(51, 51, 51);
  background-color: transparent;
  border-width: 1px;
  border-color: rgb(192, 192, 192);
  border-radius: 0px;
  border-style: solid;
  margin: 10px 10px 0px 0px;
  display: flex;
  align-items: center;
}

.selector-minus-button {
  padding: 0px 0px 0px 10px;
  cursor: pointer;
  opacity: 0.7;
  margin: 0px;
}

.cart-button-super-container {
  display: flex;
  flex-direction: row;
}

.selector-input {
  border-width: 0px;
  padding: 0px;
  width: 30px;
  text-align: center;
  outline: none;
  margin: 0px;
  font-weight: normal;
  font-style: normal;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(51, 51, 51);
  background-color: transparent;
}

.selector-plus-button {
  padding: 0px 10px 0px 0px;
  cursor: pointer;
  opacity: 0.7;
  margin: 0px;
}

.add-to-cart-button {
  /* overflow-wrap: break-word; */
  white-space: normal;
  text-decoration: none;
  line-height: 1.2;
  letter-spacing: 0px;
  width: 100%;
  height: 40px;
  min-height: 40px;
  font-weight: bold;
  font-style: normal;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(51, 49, 49);
  background-color: transparent;
  border-width: 1px;
  border-color: rgb(51, 51, 51);
  border-radius: 0px;
  border-style: solid;
  cursor: pointer;
  margin: 10px 0px 0px;
  padding: 0px;
  opacity: 1;
}

.add-to-cart-button:hover {
  opacity: 0.7;

}

/* Pagination */
.Pagination {
  margin: 120px 0px 80px;
  margin: 60px 0;
  text-align: center;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  font-style: var(--heading-font-style);
  font-size: calc(
    var(--base-text-font-size) - (var(--default-text-font-size) - 12px)
  );
  line-height: 1;
}
.Text--subdued {
  color: var(--text-color-light);
}
.Pagination__Nav {
  display: flex;
  justify-content: center;
}
.Pagination__NavItem {
  display: inline-block;
  list-style: none;
  padding: 16px 20px;
  border-bottom: 1px solid var(--border-color);
}
.Pagination__NavItem.is-active {
  color: var(--text-color);
  border-bottom-color: var(--text-color);
  box-shadow: 0 -2px var(--text-color) inset;
}
.Pagination__Nav > .Link {
  transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  color: #000;
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

.Pagination__NaveItem svg {
  width: 6px;
  height: 10px;
  vertical-align: -1px;
}

.Icon--select-arrow-right {
  display: inline-block;
  height: 1em;
  width: 1em;
  fill: currentColor;
  vertical-align: middle;
  stroke-width: 1px;
  background: none;
  pointer-events: none;
}

.Link--primary {
  cursor: pointer;
}
/*------------------------main end--------------------------- */

/* Footer Block */

/* Logo */
.custom-logo {
  width: 230px;
  height: 44px;
  margin: 0 auto 20px;
}

/* Footer Content */
.custom-content {
  font-size: 14px;
  line-height: 1.5;
}

.custom-social {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  padding: 0px;
}

.custom-social-item {
  list-style: none;
  margin-right: 25px;
}

/* Quick Links */
.custom-links {
  padding: 0px;
}

.custom-padding {
  padding-left: 150px;
}
.custom-links-item {
  list-style: none;
  text-align: left;
  margin-bottom: 10px;
}

.custom-link {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 300px;
}

.custom-links-title {
  font-size: 13px;
  margin-bottom: 20px;
}

/* Info Links */
.custom-info-title {
  font-size: 13px;
  margin-bottom: 20px;
}

.custom-info {
  text-decoration: none;
  color: white;
  padding-left: 0px;
}

.custom-info-item {
  list-style: none;
  text-align: left;
  margin-bottom: 10px;
}

/* Newsletter */
.custom-newsletter {
  text-align: center;
}

.custom-newsletter-title {
  font-size: 13px;
  margin-bottom: 20px;
  max-width: 255px;
}

.custom-newsletter-content {
  font-size: 15px;
  line-height: 1.5;
  max-width: 255px;
}

.custom-newsletter-form {
  margin-top: 10px;
  max-width: 255px;
}

.custom-newsletter-input {
  display: block;
  padding: 12px 14px;
  border-radius: 0;
  border: 1px solid #f2b737;
  width: 100%;
  line-height: normal;
  resize: none;
  transition: border-color 0.1s ease-in-out;
  background: transparent;
  color: white;
}

.custom-newsletter-submit {
  background-color: black;
  color: #fff;
  border: 1px solid white;
  cursor: pointer;
  display: block;
  margin-top: 20px;
  padding: 14px 28px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* Aside */
.custom-aside {
  margin-top: 20px;
  margin-left: 45px;
}

.custom-storename {
  font-size: 12px;
  color: #777;
  text-decoration: none;
  color: #fff;
}

/* Filter Drawer */

.Drawer--fromRight {
  position: fixed;
  top: 0;
  right: -400px;
  z-index: 30;
  background-color: white;
  width: 400px;
  height: 100vh;
  display: block;
  transition: right 0.5s ease; /* Use 'right' instead of 'left' for reverse animation */
}

.Drawer--open {
  right: 0;
}

.Drawer--closing {
  right: -400px;
  transition: right 0.5s ease;
}

.Drawer--fromRight .Drawer__Container {
  padding-left: 30px;
  padding-right: 30px;
}
.Drawer__Header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background: inherit;
  text-align: center;
  z-index: 1;
  box-shadow: 0 -1px rgba(var(--border-color-rgb), 0.6) inset;
  width: 100%;
}
.Drawer__Title {
  flex-grow: 1;
  font-weight: 600;
}
.Drawer__Close {
  border: none;
  background: none;
}
.Icon--close {
  width: 16px;
}
.Drawer__Content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
  overflow-y: auto;
  /* height: calc(100% - 60px); */
  max-height: calc(100% - 50px);
}
.Drawer__Main {
  max-height: calc(100vh - 60px);
  overflow-y: auto;
  padding-top: 32px;
}
.Collapsible--padded {
  padding: 0px 24px 0px;
  margin: 0px 0px 32px;
}

.Drawer__Footer {
  padding: 24px 30px;
  box-shadow: 0 -1px rgba(var(--border-color-rgb), 0.6);
}
.Button--results {
  width: 100%;
  background: black;
  color: white;
  transition: transform 0.5s ease;
}

.Button--results.moved-up {
  transform: translateY(-10px);
}

/* -------------------1140px----------------- */
@media screen and (max-width: 1140px) {
  .bars {
    display: block;
  }
  .Header__MainNav {
    display: none;
  }
  .Header__FlexItem--logo {
    margin-left: auto;
  }
  .custom-padding {
    padding-left: 0px;
    padding-right: 180px;
  }
  .account-icon {
    display: none !important;
  }
  .hidden-tablet-and-up {
    width: 18px;
    display: none;
  }
  .hidden-phone {
    width: 21px;
    display: block;
  }
  .ProductItem {
    width: 33.3%;
    /* max-width: 221px; */
    margin: 0px 0px 60px;
    /* padding: calc(25%-221px); */
    /* border: 1px solid black; */
    padding: 0px 0px 0px 24px;
  }
  .ProductList {
    padding: 0 24px;
  }
  .ProductItem__Image {
    width: 100%;
    height: auto;
  }
}

/* -------------------1007px----------------- */
@media only screen and (max-width: 1007px) {
  .CollectionInner__Sidebar {
    display: none;
  }
  .CollectionToolbar {
    position: sticky;
    display: flex;
    /* justify-content: space-between; */
    /* width: 100%; */
    background: var(--background);
    box-shadow: 1px 1px var(--border-color), -1px -1px var(--border-color);
    z-index: 10;
  }
  .CollectionToolbar--top {
    /* top: calc(var(--header-height) * var(--use-sticky-header, 0)); */
    top: 130px;
  }
  .CollectionToolbar--reverse {
    flex-direction: row-reverse;
  }
  .CollectionToolbar__Item {
    /* flex: 1 0 auto; */
    padding: 18px 45px;
    background: transparent;
    border: none;
    border-left: 1px solid var(--border-color);
    /* text-align: center; */
    /* vertical-align: middle; */
    cursor: pointer;
    font-weight: 700;
    /* transition: background .2s ease-in-out; */
  }
  .Text--subdued {
    color: var(--text-color-light);
  }
}

/* -------------------640px----------------- */
@media screen and (max-width: 640px) {
  .AnnouncementBar__Wrapper {
    flex-direction: column;
  }
  .Heading {
    font-size: 10px !important;
  }
  .Collapsible__Button .Heading {
    font-size: 13px;
  }
  .Header__Wrapper {
    padding: 15px 18px;
  }
  .Header__LogoImage {
    max-width: 185px;
    height: auto;
    margin-left: 100px;
  }
  .navbar-icon {
    font-size: 18px;
    display: flex;
    align-items: center;
  }

  .Icon--search-desktop {
    width: 21px;
    display: none;
  }
  .Icon--search {
    width: 18px;
    display: block;
  }

  .Icon--cart-desktop {
    width: 19px;
    display: none;
  }

  .Icon--cart {
    width: 17px;
    color: white;
    display: block;
  }

  .account-icon {
    display: none !important;
  }
  .custom-heading {
    font-size: 22px;
    max-width: 100%;
  }

  .hidden-tablet-and-up {
    width: 18px;
    display: block;
  }
  .hidden-phone {
    width: 21px;
    display: none;
  }

  .Drawer__Header {

    height: 60px;
  }

  .Drawer--fromRight .Drawer__Container {
    padding-left: 24px;
    padding-right: 18px;
  }

  /*main collection */
  .CollectionInner {
    margin: 24px 0px 0px;
  }
  .ProductItem {
    width: 50%;
    /* max-width: 221px; */
    margin: 0px 0px 60px;
    /* padding: calc(25%-221px); */
    /* border: 1px solid black; */
    padding: 0px 0px 0px 12px;
  }
  .ProductList {
    padding: 0px 12px 0px 0px;
  }
  .CollectionToolbar--top {
    /* top: calc(var(--header-height) * var(--use-sticky-header, 0)); */
    top: 90px;
  }
  .CollectionToolbar {
    justify-content: center;
    /* width: 100%; */
  }
  .CollectionToolbar--reverse {
    flex-direction: row;
  }
  .CollectionToolbar__Item {
    border: none;
    width: 100%;
    padding: 16px 0px;
    font-size: 13px;
  }

  /* Footer */
  .custom-container {
    margin: 0 auto;
    padding: 0 20px;
  }

  .custom-footer {
    background-color: #262626;
    padding: 40px 0px 20px;
  }

  /* Inner Content */
  .custom-inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  /* Footer Block */
  .custom-block {
    /* flex-basis: 100%; */
    margin-bottom: 20px;
    width: 100%;
  }

  .custom-block:last-child {
    margin-bottom: 0;
  }
  /* Logo */
  .custom-logo {
    width: 230px;
    height: 44px;
    margin: 0 auto 20px;
  }

  /* Footer Content */
  .custom-content {
    font-size: 14px;
    line-height: 1.5;
  }

  /* Social Icons */
  .custom-social {
    display: flex;
    margin-bottom: 0px;
  }

  .custom-padding {
    padding-left: 0px;
  }

  .custom-links-title {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .custom-info-title {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .custom-newsletter-title {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .custom-newsletter-content {
    font-size: 14px;
    line-height: 1.5;
  }

  .custom-newsletter-form {
    margin-top: 10px;
  }

  .custom-newsletter-input {
    display: block;
    padding: 12px 14px;
    border-radius: 0;
    border: 1px solid #f2b737;
    width: 100%;
    line-height: normal;
    resize: none;
    transition: border-color 0.1s ease-in-out;
    background: transparent;
    color: white;
  }

  .custom-newsletter-submit {
    background-color: black;
    color: #fff;
    border: 1px solid white;
    cursor: pointer;
    display: block;
    margin-top: 20px;
    padding: 14px 28px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }

  /* Aside */
  .custom-aside {
    text-align: center;
    margin: 0;
  }

  .custom-storename {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
  }

  /* Customized Filter Drawer */

  .Drawer--fromRight {
    /* max-width: 575px; */
    right: -575px;
    width: 575px;
  }
  .Drawer--open {
    right: 0;
  }

  .Drawer--closing {
    right: -575px;
    transition: right 0.5s ease;
  }
  .Drawer__Main {
    padding: 0px;
    flex-grow: 1;
  }
  .Collapsible__Button {
    margin: 0px;
    padding: 20px 0px;
  }
  .Collapsible__Inner {
    display: none;
  }
  .Collapsible__Inner--active {
    display: block;
  }
  .Collapsible--padded {
    margin: 0;
    padding: 0 24px;
    box-shadow: 0 -1px rgba(var(--border-color-rgb), 0.6) inset;
  }

  .Collapsible__Plus {
    position: absolute;
    right: 0;
    top: calc(50% - 5.5px);
    width: 11px;
    height: 11px;
  }

  .Collapsible__Minus {
    position: absolute;
    right: 0;
    top: calc(50% - 5.5px);
    width: 11px;
    height: 11px;
  }

  .Collapsible__Plus::before {
    width: 11px;
    height: 1px;
    opacity: 1;
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    background-color: currentColor;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }

  .Collapsible__Plus::after {
    width: 1px;
    height: 11px;
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    background-color: currentColor;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }

  .Collapsible__Plus {
    transform: rotate(-90deg);
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }

  .Collapsible__Minus {
    transform: rotate(0);
    opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }

  .Collapsible__Button[aria-expanded="true"] .Collapsible__Plus::after {
    transform: rotate(0);
    opacity: 0;
  }

  .Collapsible__Button[aria-expanded="true"] .Collapsible__Minus {
    transform: rotate(-90deg);
    opacity: 1;
  }

  /* .Collapsible__Button[aria-expanded="true"] .Collapsible__Plus:before {
    opacity: 0;
  } */
  .Collapsible__Content {
    padding: 0px 0px 18px;
  }
}

/* -------------------450px----------------- */
@media screen and (max-width: 450px) {
  .AnnouncementBar__Wrapper {
    padding: 10px 40px;
  }
  .Header__LogoLink {
    max-height: 49.5px;
  }
  .Header__LogoImage {
    margin-left: 30px;
  }
  .navbar-icon:first-child {
    margin-left: 0px;
  }
  #drawer {
    width: 331px;
    left: -331px;
    height: 100vh;
  }
  .SearchDropdown {
    padding: 14px 18px;
  }
  .Drawer--fromRight {
    width: 335px;
  }
  .Drawer--open {
    right: 0;
  }
  .Drawer--closing {
    right: -335px;
    transition: right 0.5s ease;
  }
  .CollectionToolbar--top {
    top: 80px;
  }
}

/* -------------------350px----------------- */
@media screen and (max-width: 350px) {
  .Header__LogoLink {
    max-height: 49.5px;
  }
  .Header__LogoImage {
    margin-left: auto;
  }
  .navbar-icon {
    margin-left: auto;
  }
  .navbar-icon:last-child {
    margin-left: 15px;
  }
  #drawer {
    width: 331px;
    left: -331px;
    height: 100vh;
  }
  #drawer {
    width: 234px;
    left: -234px;
    height: 100vh;
  }
  .Drawer--fromRight {
    width: 234px;
  }
  .Drawer--open {
    right: 0;
  }
  .Drawer--closing {
    right: -234px;
    transition: right 0.5s ease;
  }
}
