:root {
  --heading-font-family: Chivo, sans-serif;
  --heading-font-weight: 700;
  --heading-font-style: normal;
  --text-font-family: Chivo, sans-serif;
  --text-font-weight: 400;
  --text-font-style: normal;
  --base-text-font-size: 15px;
  --default-text-font-size: 14px;
  --background: #f2b737;
  --background-rgb: 242, 183, 55;
  --light-background: #ffffff;
  --light-background-rgb: 255, 255, 255;
  --heading-color: #000000;
  --text-color: #000000;
  --text-color-rgb: 0, 0, 0;
  --text-color-light: #000000;
  --text-color-light-rgb: 0, 0, 0;
  --link-color: #000000;
  --link-color-rgb: 0, 0, 0;
  --border-color: #ce9c2f;
  --border-color-rgb: 206, 156, 47;
  --button-background: #000000;
  --button-background-rgb: 0, 0, 0;
  --button-text-color: #ffffff;
  --header-background: #efecec;
  --header-heading-color: #efecec;
  --header-light-text-color: #efecec;
  --header-border-color: #efecec;
  --footer-background: rgba(0, 0, 0, 0);
  --footer-text-color: #ffffff;
  --footer-heading-color: #ffffff;
  --footer-border-color: rgba(38, 38, 38, 0.15);
  --navigation-background: #f2b737;
  --navigation-background-rgb: 242, 183, 55;
  --navigation-text-color: #000000;
  --navigation-text-color-light: rgba(0, 0, 0, 0.5);
  --navigation-border-color: rgba(0, 0, 0, 0.25);
  --newsletter-popup-background: #f2b737;
  --newsletter-popup-text-color: #000000;
  --newsletter-popup-text-color-rgb: 0, 0, 0;
  --secondary-elements-background: #f2b737;
  --secondary-elements-background-rgb: 242, 183, 55;
  --secondary-elements-text-color: #ffffff;
  --secondary-elements-text-color-light: rgba(255, 255, 255, 0.5);
  --secondary-elements-border-color: rgba(255, 255, 255, 0.25);
  --product-sale-price-color: #ff4036;
  --product-sale-price-color-rgb: 255, 64, 54;
  --product-star-rating: #f6a429;
  --payment-terms-background-color: #f2b737;
  --horizontal-spacing-four-products-per-row: 60px;
  --horizontal-spacing-two-products-per-row: 60px;
  --vertical-spacing-four-products-per-row: 60px;
  --vertical-spacing-two-products-per-row: 75px;
  --drawer-transition-timing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --header-base-height: 80px;
  --cursor-zoom-in-svg: url(//hillcobees.com/cdn/shop/t/2/assets/cursor-zoom-in.svg?v=100326362725928540331647345870);
  --cursor-zoom-in-2x-svg: url(//hillcobees.com/cdn/shop/t/2/assets/cursor-zoom-in-2x.svg?v=71919207650934979201647345870);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  margin: 0px;
  padding: 0px;
  /* overflow-x: hidden; */
}

body {
  font-family: Chivo, sans-serif;
  line-height: 1.65;
  background: #f2b737;
  width: 100%;
  height: 100%;
  margin: 0px;
  /* overflow-x: hidden; */
}

.PageOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 20;
  /* visibility: visible; */
  display: none;
  /* opacity: 0.1; */
  background: #36363680;
  /* transition: opacity .3s ease-in-out,visibility .3s ease-in-out; */
}

.drawer-dropdown {
  display: none;
  padding-left: 15px;
  transition: left 0.5s ease;
}

.show-dropdown {
  display: block;
}

.drawer-link {
  text-decoration: none;
  color: #00000080;
}

.drawer-linklist__item {
  list-style: none;
  font-size: 12px;
  padding: 13px 0px;
}

#drawer {
  position: relative;
  width: 340px;
  height: 100vh;
  background-color: #f2b737;
  position: fixed;
  top: 0;
  left: -340px;
  transition: left 0.5s ease-in-out;
  /* transition: left 0.5s var(--drawer-transition-timing); */
  z-index: 30;
  /* transition: transform .5s var(--drawer-transition-timing),visibility .5s var(--drawer-transition-timing); */
  /* transition: transform .5s cubic-bezier(0.645, 0.045, 0.355, 1),visibility .5s cubic-bezier(0.645, 0.045, 0.355, 1); */
}

#drawer.open {
  left: 0;
}

.bold-text {
  display: block;
  /* display: inline-block; */
  font-weight: bold;
}

.drawer-main::after {
  display: block;
  content: "";
  height: 35px;
}

.drawer-main {
  padding: 26px 30px 18px;
}

.drawer-content {
  flex: 1;
  overflow-y: auto;
  max-height: calc(100vh - 130px);
}
#close-button {
  background-color: #f2b737;
  border: none;
  font-size: 20px;
  margin-left: 0;
  padding: 0;
  line-height: 0;
}

.drawer-header {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 18px 30px;
}

#menu-button {
  background: none;
  border: none;
  cursor: pointer;
}

.menu-icon {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #000;
  margin-bottom: 6px;
  transition: transform 0.3s ease;
}

.menu-icon.open {
  transform: rotate(45deg);
}

.menu-icon.open:before {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #000;
  transform: rotate(-90deg) translateX(-10px);
  transition: transform 0.3s ease;
}

.menu-icon.open:after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #000;
  transform: rotate(-90deg) translateX(10px);
  transition: transform 0.3s ease;
}

.collapsible-button {
  color: black;
  text-decoration: none;
}

.horizontal-line {
  border: 0.5px solid #00000040;
  margin: 0px !important;
}

.primary-link {
  color: black;
  text-decoration: none;
  display: block;
  /* margin-bottom: 10px; */
  padding: 20px 0px;
  font-size: 13px;
  font-weight: 700;
}

.Collapsible__Plus {
  position: absolute;
  right: 0;
  top: calc(50% - 5.5px);
  width: 11px;
  height: 11px;
  transform-origin: center; /* Set the transform origin to the center of the plus icon */
}

.Collapsible__Plus:before {
  width: 11px;
  height: 1px;
  opacity: 1;
}

.Collapsible__Plus:before,
.Collapsible__Plus:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  background-color: currentColor;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.Collapsible__Plus:after {
  width: 1px;
  height: 11px;
}

/* CSS for the Minus icon */
.Collapsible__Plus.minus:before {
  transform: translate(-50%, -50%) rotate(0deg); /* Rotate back to 0 degrees */
}

.Collapsible__Plus.minus:after {
  width: 0; /* Hide the vertical line */
  height: 0; /* Hide the vertical line */
}

.account-drawer {
  color: #00000080;
  font-weight: 300 !important;
  font-size: 15px;
  margin-top: 8px;
  padding-bottom: 0px;
}

.social-list {
  display: flex;
  list-style: none;
  color: #00000080;
  justify-content: space-around;
  padding: 12px 50px;
  align-items: center;
}

.drawer-footer {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 48px;
  /* padding-top: 10px; */
  /* transition: bottom 0.4s ease-out 0.2s; */
  transition: 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s,
    transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
}

.drawer-up {
  bottom: 0;
}

.drawer-footer::before {
  bottom: 100%;
  height: 30px;
  background-image: linear-gradient(
    rgba(var(--navigation-background-rgb), 0.5),
    rgba(var(--navigation-background-rgb), 0.8) 40%,
    var(--navigation-background)
  );
  position: absolute;
  content: "";
  width: 100%;
  pointer-events: none;
  z-index: 1;
  /* backdrop-filter: blur(1px); Standard syntax  */
}

/* [data-drawer-animated-bottom] {
  opacity: 0;
  transform: translateY(45px);
  /* transition: opacity .35s cubic-bezier(.25,.46,.45,.94),transform .35s cubic-bezier(.25,.46,.45,.94); 
  transition: opacity .35s ease, transform .35s ease;

}

.Drawer[aria-hidden=false] [data-drawer-animated-bottom] {
  opacity: 1;
  transform: translateY(0);
  /* transition: opacity .25s cubic-bezier(.25,.46,.45,.94) .45s,transform .25s cubic-bezier(.25,.46,.45,.94) .45s; 
  transition: opacity .25s ease 0.45s, transform .25s ease 0.45s;
} */

.Icon--facebook {
  height: 15px;
  width: 15px;
  fill: currentColor;
}

.Icon--youtube {
  height: 15px;
  width: 15px;
  fill: currentColor;
}

/* AnnoucementBar */

.AnnouncementBar__Wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}

.AnnouncementBar__Content {
  color: #000 !important;
  font-weight: bold;
  font-size: 15.5px !important;
}

/* .Heading {
  margin: 0;
} */

.right {
  text-align: center;
}

.left {
  text-align: center;
}

.HorizontalList__Item:after {
  position: absolute;
  content: "";
  display: block;
  width: auto;
  height: 1px;
  background-color: #fff;
  transition: width 0.3s;
  bottom: 0;
}

.HorizontalList__Item.is-active:after,
.HorizontalList__Item:hover:after {
  width: 40px;
}

.Contact_HorizontalList_Item.is-active:after,
.Contact_HorizontalList_Item:hover:after {
  width: 50px;
}

.About_HorizontalList_Item::after {
  position: absolute;
  content: "";
  display: block;
  width: auto;
  height: 1px;
  background-color: #fff;
  transition: width 0.3s;
  bottom: 0;
}

.About_HorizontalList_Item:hover::after {
  width: 58px;
}

.Contact_HorizontalList_Item::after {
  position: absolute;
  content: "";
  display: block;
  width: auto;
  height: 1px;
  background-color: #fff;
  transition: width 0.3s;
  bottom: 0;
}

.Contact_HorizontalList_Item:hover::after {
  width: 50px;
}

.Link--noUnderline::after {
  width: 0;
}

.Link--noUnderline:hover::after {
  width: 0;
}

.Header__FlexItem {
  display: flex;
  justify-content: flex-start;
}

/* icons */

.navbar_Icon {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 20px;
}

.Icon--account {
  width: 20px;
}

.Icon--search-desktop {
  width: 21px;
  display: block;
}
.Icon--search {
  width: 18px;
  display: none;
}

.Icon--cart-desktop {
  width: 19px;
}

.Icon--cart {
  width: 17px;
  display: none;
}

.HorizontalList__Item {
  text-align: left !important;
  font-weight: 500;
  cursor: pointer;
  /* position: relative; */
}

.HorizontalList__Item:first-child {
  margin-left: 0 !important;
}

.HorizontalList__Item.is-active {
  cursor: pointer;
}

.Heading {
  text-decoration: none;
  color: white;
  font-size: 13px;
}

.Header__Wrapper {
  background: url(/assests/Untitled-1.jpg12.jpg23.jpgnew_8be1b921-bf6c-4fa1-988e-b853340c794a.webp)
    rgb(60, 60, 60) !important;
  display: flex;
  align-items: center;
  background-color: #262626;
  padding: 18px 50px;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid #fff;
}

.HorizontalList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.HorizontalList__Item {
  display: inline-block;
  margin: 6px 21px;
  font-weight: 700;
  cursor: pointer;
}

.shop-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.DropdownMenu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 100%;
  padding: 25px 45px 25px 25px;
  min-width: 200px;
  max-width: 270px;
  width: max-content;
  text-align: left;
  background: #efecec;
  border: 1px solid #efecec;
  border-top: none;
  transition: all 0.3s ease-in-out;
  line-height: 1.2; /* Adjust the value as needed */
}

.HorizontalList__Item:hover .DropdownMenu {
  visibility: visible;
  opacity: 1;
}

.Linklist__Item {
  list-style: none;
  line-height: -1px;
  padding: 5px 0px;
}

.Link--secondary {
  color: #000;
  text-decoration: none;
  font-weight: 300;
  font-size: 15px;
}

.Link {
  color: #efecec;
  text-decoration: none;
}

.bars {
  display: none;
}

.navbar-icons {
  display: flex;
  align-items: center;
  /* Add your icons container styles here */
}

.navbar-icon {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 30px;
  color: white;
  font-size: 20px;
}

.Header__FlexItem--logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-left: -150px;
  z-index: -1;
}

.Header__Logo {
  margin: 0;
}

.Header__LogoLink {
  text-decoration: none;
  padding: 0;
  margin: 0;
  height: 93.5px;
}

.Header__LogoImage {
  max-width: 350px;
  height: auto;
}

/* Search Section */

.SearchDropdown {
  position: absolute;
  top: 101%;
  width: 100%;
  left: 0;
  z-index: -1;
  padding: 28px 50px;
  background: #f2b737;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-5px);
  /* transition: transform 0.15s ease, opacity 0.15s ease, visibility 0.15s ease; */
  transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out,
    visibility 0.15s ease-in-out;
}

.search_down {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.Search__Inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Search__InputIconWrapper {
  padding-right: 20px;
}

.Search__Form {
  display: flex;
  align-items: center;
  width: 100%;
}

.Search__Input {
  background: none;
  width: 100%;
  height: 25px;
  border: none;
  outline: none;
  font-size: 14px;
  vertical-align: middle;
  padding: 0px;
  box-sizing: border-box;
}

.Search__Input::placeholder {
  color: black;
  font-weight: bold;
  font-size: large;
}

#Search__Close {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  color: black;
  font-size: 14;
  line-height: 1;
}

.hidden-tablet-and-up {
  width: 18px;
  display: none;
}

.hidden-phone {
  width: 21px;
  display: block;
}

/* Footer */
.custom-container {
  margin: 0 auto;
  padding: 30px 40px 24px;
}

.custom-footer {
  background: url(/assests/Untitled-1.jpg12.jpg23.jpgnew_8be1b921-bf6c-4fa1-988e-b853340c794a.webp)
    rgb(60, 60, 60) !important;
  background-color: #262626;
  color: #fff;
}

/* Inner Content */
.custom-inner {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 25px;
}

/*---------------------main section-----------------------*/

.Section--spacingNormal {
  padding: 80px 0px;
}

/* .Contact-Info {
  display: block;
  padding: 50px 0;
  margin-top: 0;
  margin-bottom: 0;
} */

/* .Section--spacingNormal::before {
  content: "";
  display: table;
  clear: both;
} */

.Container {
  padding: 0px 80px;
}

.FeatureMap {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  padding-top: 0;
  height: 550px;
  max-width: 1150px;
  margin: 0 auto;
}

.FeaturedMap__Info {
  /* flex: none; */
  min-width: 370px;
  width: 370px;
  padding: 50px 60px;
  position: relative;
  margin: 0 auto;
  background: var(--light-background);
  text-align: left;
  z-index: 1;
  font-size: 15px;
  font-weight: 400;
}

.FeaturedMap__Store {
  font-size: 26px;
  line-height: 36px;
  display: block;
  margin-bottom: 1.2em;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  font-style: var(--heading-font-style);
}

.FeaturedMap__Hours {
  font-size: 1em;
}

.Rte {
  word-break: break-word;
}

.FeaturedMap__Hours p:not(:last-child) {
  margin-bottom: 1.6em;
  letter-spacing: 0.1px;
}

/* .Rte p:not(:last-child),
.Rte ul:not(:last-child),
.Rte ol:not(:last-child) {
  margin-bottom: 1.6em;
} */

.Image--lazyLoaded.Image--fadeIn {
  opacity: 1;
}

.FeaturedMap__MapContainer {
  flex: 1 0 auto;
  height: 100%;
  position: relative;
  /* height: 240px; */
  background-size: cover;
  background-position: center;
}

.FeaturedMap__GMap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.SectionHeader {
  margin: 50px 0px;
  position: relative;
}

.SectionHeader--center {
  text-align: center;
}

.SectionHeader__Heading {
  font-size: 26px;
  line-height: 36px;
}

.PageContent {
  margin-top: 0;
  /* margin-bottom: 80px; */
  /* max-width: 1000px; */
  margin: 35px auto 80px;
}

.PageContent--narrow {
  max-width: 680px;
}

.Form {
  width: 100%;
}

.Rte .Form {
  margin-top: 3em;
  margin-bottom: 3em;
}

.Form__Group {
  display: flex;
}

.Form__Group > .Form__Item {
  flex: 1;
}

.Form--spacingTight .Form__Item {
  margin-bottom: 15px;
}

.Form__Item {
  position: relative;
  margin-bottom: 15px;
}

.Form--spacingTight .Form__Group > :nth-child(2) {
  margin-left: 15px;
}

.Form__Input,
.Form__Textarea {
  /* -webkit-appearance: none; */
  display: block;
  padding: 12px 14px;
  border-radius: 0;
  border: 1px solid var(--border-color);
  width: 100%;
  line-height: normal;
  resize: none;
  transition: border-color 0.1s ease-in-out;
  background: transparent;
  font-size: 15px;
  font-weight: 400;
}

.Form__Textarea {
  height: 206px;
  /* font-size: 15px; */
}

.Form__FloatingLabel {
  position: absolute;
  bottom: calc(100% - 8px);
  left: 10px;
  padding: 0 5px;
  line-height: normal;
  color: var(--text-color-light);
  font-size: calc(
    var(--base-text-font-size) - (var(--default-text-font-size) - 12px)
  );
  opacity: 0;
  background: rgba(var(--background-rgb), 0);
  pointer-events: none;
  transform: translateY(3px);
  transition: all 0.3s ease-in-out;
}

.Form__Submit {
  color: #fff;
  display: block;
  margin-top: 20px;
  width: 100%;
  position: relative;
  padding: 14px 28px;
  line-height: normal;
  border: 1px solid white;
  border-radius: 0;
  text-transform: uppercase;
  font-size: calc(
    var(--base-text-font-size) - (var(--default-text-font-size) - 12px)
  );
  text-align: center;
  letter-spacing: 0.2em;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  font-style: var(--heading-font-style);
  background-color: black;
  transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),
    border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 1;
  background-image: linear-gradient(to right, #f2b737 50%, #000 50%);
  background-position: right;
  background-size: 200% 100%;
  transition: background-position 0.4s ease;
}

.Form__Submit:hover {
  background-position: left;
  color: #000 !important;
  /* border: 1px solid white; */
}

input::placeholder {
  color: black;
  letter-spacing: 0.05em;
}

textarea::placeholder {
  color: black;
  font-family: var(--heading-font-family);
  letter-spacing: 0.05em;
}

/* .Form__Submit:before {
  background-color: var(--button-background);
  position: absolute;
  content: "";
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transform-origin: left center;
  z-index: -1;
} */

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}
/*------------------------main end--------------------------- */

/* Footer Block */

/* Logo */
.custom-logo {
  width: 230px;
  height: 44px;
  margin: 0 auto 20px;
}

/* Footer Content */
.custom-content {
  font-size: 14px;
  line-height: 1.5;
}

.custom-social {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  padding: 0px;
}

.custom-social-item {
  list-style: none;
  margin-right: 25px;
}

/* Quick Links */
.custom-links {
  padding: 0px;
}

.custom-padding {
  padding-left: 150px;
}
.custom-links-item {
  list-style: none;
  text-align: left;
  margin-bottom: 10px;
}

.custom-link {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 300px;
}

.custom-links-title {
  font-size: 13px;
  margin-bottom: 20px;
}

/* Info Links */
.custom-info-title {
  font-size: 13px;
  margin-bottom: 20px;
}

.custom-info {
  text-decoration: none;
  color: white;
  padding-left: 0px;
}

.custom-info-item {
  list-style: none;
  text-align: left;
  margin-bottom: 10px;
}

/* Newsletter */
.custom-newsletter {
  text-align: center;
}

.custom-newsletter-title {
  font-size: 13px;
  margin-bottom: 20px;
  max-width: 255px;
}

.custom-newsletter-content {
  font-size: 15px;
  line-height: 1.5;
  max-width: 255px;
}

.custom-newsletter-form {
  margin-top: 10px;
  max-width: 255px;
}

.custom-newsletter-input {
  display: block;
  padding: 12px 14px;
  border-radius: 0;
  border: 1px solid #f2b737;
  width: 100%;
  line-height: normal;
  resize: none;
  transition: border-color 0.1s ease-in-out;
  background: transparent;
  color: white;
}

.custom-newsletter-submit {
  background-color: black;
  color: #fff;
  border: 1px solid white;
  cursor: pointer;
  display: block;
  margin-top: 20px;
  padding: 14px 28px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* Aside */
.custom-aside {
  margin-top: 20px;
  margin-left: 45px;
}

.custom-storename {
  font-size: 12px;
  color: #777;
  text-decoration: none;
  color: #fff;
}

/* Filter Drawer */

.Drawer--fromRight {
  position: fixed;
  top: 0;
  right: -400px;
  z-index: 30;
  background-color: white;
  width: 400px;
  height: 100vh;
  display: block;
  transition: right 0.5s ease; /* Use 'right' instead of 'left' for reverse animation */
}

.Drawer--open {
  right: 0;
}

.Drawer--closing {
  right: -400px;
  transition: right 0.5s ease;
}

.Drawer--fromRight .Drawer__Container {
  padding-left: 30px;
  padding-right: 30px;
}
.Drawer__Header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background: inherit;
  text-align: center;
  z-index: 1;
  box-shadow: 0 -1px rgba(var(--border-color-rgb), 0.6) inset;
  width: 100%;
}
.Drawer__Title {
  flex-grow: 1;
  font-weight: 600;
}
.Drawer__Close {
  border: none;
  background: none;
}
.Icon--close {
  width: 15px;
  stroke-width: 1.25px;
  height: 15px;
}
.Drawer__Content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
  overflow-y: auto;
  /* height: calc(100% - 60px); */
  max-height: calc(100% - 50px);
}
.Drawer__Main {
  max-height: calc(100vh - 60px);
  overflow-y: auto;
  padding-top: 32px;
}
.Collapsible--padded {
  padding: 0px 24px 0px;
  margin: 0px 0px 32px;
}

.Drawer__Footer {
  padding: 24px 30px;
  box-shadow: 0 -1px rgba(var(--border-color-rgb), 0.6);
}
.Button--results {
  width: 100%;
  background: black;
  color: white;
  transition: transform 0.5s ease;
}

.Button--results.moved-up {
  transform: translateY(-10px);
}

/* -------------------1140px----------------- */
@media screen and (max-width: 1140px) {
  .bars {
    display: block;
  }
  .Header__Wrapper {
    padding: 18px 30px;
  }
  .Header__LogoLink {
    margin-left: 105px;
  }
  .Header__MainNav {
    display: none;
  }
  .Header__FlexItem--logo {
    margin-left: auto;
  }
  .custom-padding {
    padding-left: 0px;
    padding-right: 180px;
  }
  .account-icon {
    display: none !important;
  }
  .hidden-tablet-and-up {
    width: 18px;
    display: none;
  }
  .hidden-phone {
    width: 21px;
    display: block;
  }
  .ProductItem {
    width: 33.3%;
    /* max-width: 221px; */
    margin: 0px 0px 60px;
    /* padding: calc(25%-221px); */
    /* border: 1px solid black; */
    padding: 0px 0px 0px 24px;
  }
  .ProductList {
    padding: 0 24px;
  }
  .ProductItem__Image {
    width: 100%;
    height: auto;
  }
}

/* -------------------1007px----------------- */
@media only screen and (max-width: 1007px) {
  .CollectionInner__Sidebar {
    display: none;
  }
  .CollectionToolbar {
    position: sticky;
    display: flex;
    /* justify-content: space-between; */
    /* width: 100%; */
    background: var(--background);
    box-shadow: 1px 1px var(--border-color), -1px -1px var(--border-color);
    z-index: 10;
  }
  .CollectionToolbar--top {
    /* top: calc(var(--header-height) * var(--use-sticky-header, 0)); */
    top: 130px;
  }
  .CollectionToolbar--reverse {
    flex-direction: row-reverse;
  }
  .CollectionToolbar__Item {
    /* flex: 1 0 auto; */
    padding: 18px 45px;
    background: transparent;
    border: none;
    border-left: 1px solid var(--border-color);
    /* text-align: center; */
    /* vertical-align: middle; */
    cursor: pointer;
    font-weight: 700;
    /* transition: background .2s ease-in-out; */
  }
  .Text--subdued {
    color: var(--text-color-light);
  }
  .drawer-main {
    padding: 0px 30px 18px;
  }
  .Section--spacingNormal {
    padding: 50px 0px;
  }
  .Container {
    padding: 0px 50px;
}
}

/* -------------------640px----------------- */
@media screen and (max-width: 640px) {
  .AnnouncementBar__Wrapper {
    flex-direction: column;
  }
  .Heading {
    font-size: 10px !important;
  }
  .Collapsible__Button .Heading {
    font-size: 13px;
  }
  .Header__Wrapper {
    padding: 15px 18px;
  }
  .Header__LogoLink {
    max-height: 49.5px;
    /* margin-left: 20px 88px; */
    /* margin-left: 100px; */
  }
  .Header__LogoImage {
    max-width: 185px;
    height: 49.5px;
  }
  #drawer {
    width: calc(100vw - 65px);
    left: -100vw;
  }
  .drawer-main {
    padding: 0px 30px 18px;
  }
  .drawer-header {
    height: 60px;
    padding: 0px 24px 0px 18px;
  }

  .drawer-main {
    padding: 0px 24px 0px 18px;
  }
  .navbar-icon {
    font-size: 18px;
    display: flex;
    align-items: center;
  }

  .Icon--search-desktop {
    width: 21px;
    display: none;
  }
  .Icon--search {
    width: 18px;
    display: block;
  }

  .Icon--cart-desktop {
    width: 19px;
    display: none;
  }

  .Icon--cart {
    width: 17px;
    color: white;
    display: block;
  }

  .account-icon {
    display: none !important;
  }
  .custom-heading {
    font-size: 22px;
    max-width: 100%;
  }

  .hidden-tablet-and-up {
    width: 18px;
    display: block;
  }
  .hidden-phone {
    width: 21px;
    display: none;
  }

  .SearchDropdown {
    padding: 14px 18px;
  }

  /*main collection */

  .Section--spacingNormal {
    padding: 50px 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  /* .Contact-Info {
    display: block;
    padding: 50px 0;
    margin-top: 0;
    margin-bottom: 0;
  } */

  .Container {
    margin: 0 auto;
    padding: 0 24px;
  }

  .FeatureMap {
    display: flex;
    flex-direction: column;
    /* align-items: left; */
    padding-top: 0;
    height: auto;
    max-width: 1150px;
    margin: 0 auto;
  }

  .FeaturedMap__Info {
    width: 100%;
    padding: 25px;
    min-width: auto;
  }

  .FeaturedMap__MapContainer {
    position: relative;
    height: 240px;
    background-size: cover;
    background-position: center;
  }

  .FeaturedMap__Store {
    font-size: 22px;
  }

  .Form__Group {
    display: flex;
    flex-direction: column;
  }

  .Form__Group > .Form__Item {
    flex: 1;
  }

  .Form--spacingTight .Form__Item {
    margin-bottom: 15px;
  }

  .Form__Item {
    position: relative;
    margin-bottom: 15px;
  }

  .Form--spacingTight .Form__Group > :nth-child(2) {
    margin-left: 0px;
  }

  .SectionHeader__Heading {
    font-size: 22px;
  }

  .PageHeader {
    margin: 35px 0px;

  }

  .SectionHeader {
    margin: 0px;
  }

  /* main end */

  /* Footer */
  .custom-container {
    margin: 0 auto;
    padding: 0 20px;
  }

  .custom-footer {
    background-color: #262626;
    padding: 40px 0px 20px;
  }

  /* Inner Content */
  .custom-inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  /* Footer Block */
  .custom-block {
    /* flex-basis: 100%; */
    margin-bottom: 20px;
    width: 100%;
  }

  .custom-block:last-child {
    margin-bottom: 0;
  }
  /* Logo */
  .custom-logo {
    width: 230px;
    height: 44px;
    margin: 0 auto 20px;
  }

  /* Footer Content */
  .custom-content {
    font-size: 14px;
    line-height: 1.5;
  }

  /* Social Icons */
  .custom-social {
    display: flex;
    margin-bottom: 0px;
  }

  .custom-padding {
    padding-left: 0px;
  }

  .custom-links-title {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .custom-info-title {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .custom-newsletter-title {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .custom-newsletter-content {
    font-size: 14px;
    line-height: 1.5;
  }

  .custom-newsletter-form {
    margin-top: 10px;
  }

  .custom-newsletter-input {
    display: block;
    padding: 12px 14px;
    border-radius: 0;
    border: 1px solid #f2b737;
    width: 100%;
    line-height: normal;
    resize: none;
    transition: border-color 0.1s ease-in-out;
    background: transparent;
    color: white;
  }

  .custom-newsletter-submit {
    background-color: black;
    color: #fff;
    border: 1px solid white;
    cursor: pointer;
    display: block;
    margin-top: 20px;
    padding: 14px 28px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }

  /* Aside */
  .custom-aside {
    text-align: center;
    margin: 0;
  }

  .custom-storename {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
  }
}

/* -------------------450px----------------- */
@media screen and (max-width: 450px) {
  .AnnouncementBar__Wrapper {
    padding: 10px 40px;
  }
  .Header__LogoLink {
    margin-left: 77px;
  }
  .navbar-icon:first-child {
    margin-left: 0px;
  }
  .SearchDropdown {
    padding: 14px 18px;
  }
  .Drawer--fromRight {
    width: 335px;
  }
  .Drawer--open {
    right: 0;
  }
  .Drawer--closing {
    right: -335px;
    transition: right 0.5s ease;
  }
  .PageContent {
    margin: 0px auto 35px;

  }
  .Rte .Form {
    margin-top: 2.4em;
    margin-bottom: 2.4em;
}
}

/* -------------------410px----------------- */
@media screen and (max-width: 410px) {
  .Header__LogoLink {
    max-height: 49.5px;
    margin-left: 0px;
  }
  .Header__LogoImage {
    /* margin-left: auto; */
  }
  .navbar-icon {
    margin-left: auto;
  }
  .navbar-icon:last-child {
    margin-left: 15px;
  }
  .Drawer--fromRight {
    width: 234px;
  }
  .Drawer--open {
    right: 0;
  }
  .Drawer--closing {
    right: -234px;
    transition: right 0.5s ease;
  }
  .social-list {
    padding: 12px 30px;
  }
  span {
    display: block;
  }
  .Section--Contact {
    /* padding: 100px 0px 0px; */
  }
  
  .PageContent {
    margin: 35px auto 35px;
  }
  .Rte .Form {
    margin-top: 35px;
    margin-bottom: 0px;
  }
}
