:root {
  --heading-font-family: Chivo, sans-serif;
  --heading-font-weight: 700;
  --heading-font-style: normal;
  --text-font-family: Chivo, sans-serif;
  --text-font-weight: 400;
  --text-font-style: normal;
  --base-text-font-size: 15px;
  --default-text-font-size: 14px;
  --background: #f2b737;
  --background-rgb: 242, 183, 55;
  --light-background: #ffffff;
  --light-background-rgb: 255, 255, 255;
  --heading-color: #000000;
  --text-color: #000000;
  --text-color-rgb: 0, 0, 0;
  --text-color-light: #000000;
  --text-color-light-rgb: 0, 0, 0;
  --link-color: #000000;
  --link-color-rgb: 0, 0, 0;
  --border-color: #ce9c2f;
  --border-color-rgb: 206, 156, 47;
  --button-background: #000000;
  --button-background-rgb: 0, 0, 0;
  --button-text-color: #ffffff;
  --header-background: #efecec;
  --header-heading-color: #efecec;
  --header-light-text-color: #efecec;
  --header-border-color: #efecec;
  --footer-background: rgba(0, 0, 0, 0);
  --footer-text-color: #ffffff;
  --footer-heading-color: #ffffff;
  --footer-border-color: rgba(38, 38, 38, 0.15);
  --navigation-background: #f2b737;
  --navigation-background-rgb: 242, 183, 55;
  --navigation-text-color: #000000;
  --navigation-text-color-light: rgba(0, 0, 0, 0.5);
  --navigation-border-color: rgba(0, 0, 0, 0.25);
  --newsletter-popup-background: #f2b737;
  --newsletter-popup-text-color: #000000;
  --newsletter-popup-text-color-rgb: 0, 0, 0;
  --secondary-elements-background: #f2b737;
  --secondary-elements-background-rgb: 242, 183, 55;
  --secondary-elements-text-color: #ffffff;
  --secondary-elements-text-color-light: rgba(255, 255, 255, 0.5);
  --secondary-elements-border-color: rgba(255, 255, 255, 0.25);
  --product-sale-price-color: #ff4036;
  --product-sale-price-color-rgb: 255, 64, 54;
  --product-star-rating: #f6a429;
  --payment-terms-background-color: #f2b737;
  --horizontal-spacing-four-products-per-row: 60px;
  --horizontal-spacing-two-products-per-row: 60px;
  --vertical-spacing-four-products-per-row: 60px;
  --vertical-spacing-two-products-per-row: 75px;
  --drawer-transition-timing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --header-base-height: 80px;
  --cursor-zoom-in-svg: url(//hillcobees.com/cdn/shop/t/2/assets/cursor-zoom-in.svg?v=100326362725928540331647345870);
  --cursor-zoom-in-2x-svg: url(//hillcobees.com/cdn/shop/t/2/assets/cursor-zoom-in-2x.svg?v=71919207650934979201647345870);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  margin: 0px;
  padding: 0px;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
}

body {
  font-family: Chivo, sans-serif;
  line-height: 1.65;
  background: #f2b737;
  width: 100%;
  height: 100%;
  margin: 0px;
  /* overflow-x: hidden; */
}

.PageOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  /* visibility: visible; */
  display: none;
  /* opacity: 0.1; */
  background: #36363680;
  /* transition: opacity .3s ease-in-out,visibility .3s ease-in-out; */
}

.drawer-dropdown {
  display: none;
  padding-left: 15px;
  transition: left 0.5s ease;
}

.show-dropdown {
  display: block;
}

.drawer-link {
  text-decoration: none;
  color: #00000080;
}

.drawer-linklist__item {
  list-style: none;
  font-size: 12px;
  padding: 13px 0px;
}

#drawer {
  position: relative;
  width: 500px;
  height: 100vh;
  background-color: #f2b737;
  position: fixed;
  top: 0;
  left: -500px;
  transition: left 0.5s ease;
  /* transition: transform .5s cubic-bezier(0.645, 0.045, 0.355, 1),visibility .5s cubic-bezier(0.645, 0.045, 0.355, 1); */
}

.drawer-main {
  padding: 0px 24px 18px 18px;
}

.drawer-content {
  flex: 1;
  /* overflow-y: auto; */
  max-height: calc(100vh - 130px);
}
#close-button {
  background-color: #f2b737;
  border: none;
  font-size: 20px;
  margin-left: 0;
  padding: 0;
  line-height: 0;
}

.drawer-header {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 18px;
}

.drawer-main::after {
  display: block;
  content: "";
  height: 35px;
}

#drawer.open {
  left: 0;
}

#menu-button {
  background: none;
  border: none;
  cursor: pointer;
}

.menu-icon {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #000;
  margin-bottom: 6px;
  transition: transform 0.3s ease;
}

.menu-icon.open {
  transform: rotate(45deg);
}

.menu-icon.open:before {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #000;
  transform: rotate(-90deg) translateX(-10px);
  transition: transform 0.3s ease;
}

.menu-icon.open:after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #000;
  transform: rotate(-90deg) translateX(10px);
  transition: transform 0.3s ease;
}

.collapsible-button {
  color: black;
  text-decoration: none;
}

.horizontal-line {
  border: 0.5px solid #00000080;
  margin: 0px !important;
}

.primary-link {
  color: black;
  text-decoration: none;
  display: block;
  /* margin-bottom: 10px; */
  padding: 20px 0px;
  font-size: 13px;
  font-weight: 700;
}

.account-drawer {
  color: #00000080;
  font-weight: 300 !important;
  font-size: 15px;
}

.social-list {
  display: flex;
  list-style: none;
  color: #00000080;
  justify-content: space-around;
  padding: 12px 0px;
}

.drawer-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 48px;
  /* padding-top: 10px; */
}

/* AnnoucementBar */

.AnnouncementBar__Wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}

.AnnouncementBar__Content {
  color: #000 !important;
  font-weight: bold;
  font-size: 15.5px !important;
}

/* .Heading {
  margin: 0;
} */

.right {
  text-align: center;
}

.left {
  text-align: center;
}

.HorizontalList__Item:after {
  position: absolute;
  content: "";
  display: block;
  width: auto;
  height: 1px;
  background-color: #fff;
  transition: width 0.3s;
  bottom: 0;
}

.HorizontalList__Item.is-active:after,
.HorizontalList__Item:hover:after {
  width: 40px;
}

.Header__FlexItem {
  display: flex;
  justify-content: flex-start;
}

/* icons */

.navbar_Icon {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 20px;
}

.Icon--account {
  width: 20px;
}

.Icon--search-desktop {
  width: 21px;
  display: block;
}
.Icon--search {
  width: 18px;
  display: none;
}

.Icon--cart-desktop {
  width: 19px;
}

.Icon--cart {
  width: 17px;
  display: none;
}

.HorizontalList__Item {
  text-align: left !important;
  font-weight: 500;
  cursor: pointer;
  /* position: relative; */
}

.HorizontalList__Item:first-child {
  margin-left: 0 !important;
}

.HorizontalList__Item.is-active {
  cursor: pointer;
}

.Heading {
  text-decoration: none;
  color: white;
  font-size: 13px;
}

.Header__Wrapper {
  background: url(/assests/Untitled-1.jpg12.jpg23.jpgnew_8be1b921-bf6c-4fa1-988e-b853340c794a.webp)
    rgb(60, 60, 60) !important;
  display: flex;
  align-items: center;
  background-color: #262626;
  padding: 18px 50px 11px;
  position: sticky;
  top: 0;
  z-index: 20;
  border-bottom: 1px solid #fff;
}

.HorizontalList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.HorizontalList__Item {
  display: inline-block;
  margin: 6px 21px;
  font-weight: 700;
  cursor: pointer;
}

.shop-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.DropdownMenu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 100%;
  padding: 25px 45px 25px 25px;
  min-width: 200px;
  max-width: 270px;
  width: max-content;
  text-align: left;
  background: #efecec;
  border: 1px solid #efecec;
  border-top: none;
  transition: all 0.3s ease-in-out;
  line-height: 1.2; /* Adjust the value as needed */
}

.HorizontalList__Item:hover .DropdownMenu {
  visibility: visible;
  opacity: 1;
}

.Linklist__Item {
  list-style: none;
  line-height: -1px;
  padding: 5px 0px;
}

.Link--secondary {
  color: #000;
  text-decoration: none;
  font-weight: 300;
  font-size: 15px;
}

.Link {
  color: #efecec;
  text-decoration: none;
}

.bars {
  display: none;
}

.navbar-icons {
  display: flex;
  align-items: center;
  /* Add your icons container styles here */
}

.navbar-icon {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 30px;
  color: white;
  font-size: 20px;
}

.Header__FlexItem--logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-left: -150px;
}

.Header__Logo {
  margin: 0;
}

.Header__LogoLink {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.Header__LogoImage {
  max-width: 350px;
  height: auto;
}

/* Search Section */

.SearchDropdown {
  /* display: block; */
  position: absolute;
  top: 120%;
  width: 100%;
  left: 0;
  /* border: 2px solid black; */
  /* border-top: none; */
  padding: 28px 50px;
  background: #f2b737;
  visibility: hidden;
  /* opacity: 0; */
  transform: translateY(-25px);
  transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out,
    visibility 0.15s ease-in-out;
}

.Search__Inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Search__InputIconWrapper {
  padding-right: 20px;
}

.Search__Form {
  display: flex;
  align-items: center;
}

.Search__Input {
  background: none;
  width: 100%;
  height: 25px;
  border: none;
  outline: none;
  font-size: 14px;
  vertical-align: middle;
  padding: 0px;
  box-sizing: border-box;
}

.Search__Input::placeholder {
  color: black;
  font-weight: bold;
  font-size: large;
}

#Search__Close {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  color: black;
  font-size: 14;
  line-height: 1;
}

.hidden-tablet-and-up {
  width: 18px;
  display: none;
}

.hidden-phone {
  width: 21px;
  display: block;
}

/*----------------------------- Detail Page State */
main {
  background-color: #fff;
  position: relative;
}

.main__container {
  padding: 50px 50px 0px 50px;
  background-color: #fff;
}

/* .custom-padding {
  scroll-margin-top: 200px;
} */

.Product__Section {
  margin: 0px 0px 0px;
}
.Product__Wrapper {
  display: flex;
}

.Product__Gallary {
  display: flex;
  margin: 0px 0px 80px 50px;
  width: 57%;
  /* height: 500px; */
  /* overflow-y: scroll; */
  /* position: relative; */
}

.Product__SlideshowNav.Product__SlideshowNav--thumbnails {
  position: sticky;
  top: 0;
}

.Product__SlideshowNav--thumbnails {
  padding: 0 0 50px;
  width: 70px;
}
.Product__SlideshowNavScroller {
  width: 68px;
  height: auto;
  overflow: hidden;
}

.Product__SlideshowNavImage > img {
  width: 68px;
}

.is-selected {
  border: 1px solid var(--heading-color);
}

.Product__Slideshow {
  padding-left: 50px;
  flex: 1 0 auto;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.carousel_cell {
  outline: none;
  border: none;
}

/* white circles */
.flickity-page-dots .dot {
  /* width: 12px;
  height: 12px; */
  margin: 0px 5px !important;
  opacity: 1;
  background: white !important;
  border: 1px solid #ce9c2f;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  border: 2px solid #000;
  background: black !important;
}

.Product__SlideItem {
  position: relative;
  margin-bottom: 30px;
  visibility: visible !important;
  opacity: 1 !important;
}

.Product--image {
  width: 100%;
  height: auto;
}

/* ProductINfo */
.Product__InfoWrapper {
  width: 43%;
  padding: 0px 4px 0px 0px;
}
.Product__Info {
  margin: 0px 100px 0px 50px;
  color: #000;
  text-align: left;
  /* padding-bottom: 24px; */
  /* margin-bottom: 24px; */
}
.ProductMeta {
  border-bottom: 1px solid var(--border-color);
  padding: 0px 0px 24px;
  margin: 0px 0px 24px;
}
.ProductMeta__Title {
  font-size: 20px;
}
.ProductMeta__PriceList {
  margin: 15px 0px 0px;
  font-size: 17px;
  font-weight: 700;
}
.stars--text {
  font-size: 15px;
  font-weight: 400;
  margin-left: 5px;
}
.ProductMeta__Description {
  margin: 24px 0px 0px;
  text-align: left;
}
.Rte > p {
  font-size: 15px;
  font-weight: 400;
  margin: 0px 0px 24px;
}
.ProductMeta__ShareTitle {
  font-size: 12px;
  margin-right: 6px;
  font-weight: 700;
}
.ProductMeta__ShareButtons {
  display: flex;
  align-items: center;
}
.ProductMeta__ShareList {
  font-size: 0px;
}
.ProductMeta__ShareItem {
  display: inline-block;
  margin: 0px 7px;
  background-color: transparent;
  text-decoration: none;
  width: 12px;
  height: 12px;
}
.ProductMeta__ShareItem > .Icon {
  width: 12px;
  height: 12px;
  /* color: grey; */
}
.ProductForm__Variants {
  margin: 24px 0px;
}
.ProductForm__Option {
  margin-bottom: 10px;
}
.ProductForm__Option.no-js {
  display: none;
}
.ProductForm__Item {
  position: relative;
  width: 100%;
  text-align: left;
  padding: 13px 28px 13px 14px;
  border: 1px solid var(--border-color);
  cursor: pointer;
  background: transparent;
}
.ProductForm__OptionName {
  font-size: 15px;
}
.ProductForm__SelectedValue {
  display: block;
  margin-top: 9px;
}
.ProductForm__Item .Icon--select-arrow {
  position: absolute;
  top: calc(50% - 5px);
  right: 15px;
  width: 10px;
  height: 10px;
}
/* .Icon--select-arrow {
  width: 19px;
} */
.ProductForm__Option {
  position: relative;
}
.ProductForm__OptionsList {
  display: none;
  position: absolute;
  left: -425px;
  top: -70%;
  width: 400px;
  background-color: #fff;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
  padding: 14px 8px ;
  list-style-type: none;
  font-size: 12px;
  text-align: center;
  font-weight: 700;
}

.ProductForm__OptionsList::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left-color: #fff;
  position: absolute;
  top: 70px; /* Adjust the vertical position of the arrow */
  right: -20px; /* Adjust the horizontal position of the arrow */
}


.ProductForm__OptionItem {
  padding: 12px 12px;
  cursor: pointer;
}

/* .ProductForm__OptionItem:hover {
  background-color: #f0f0f0;
} */


.ProductForm__QuantitySelector {
  margin: 24px 0px;
}
.QuantitySelector {
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--border-color);
  white-space: nowrap;
}
.QuantitySelector--large .QuantitySelector__Button {
  background: transparent;
  padding: 14px 20px;
  border: none;
}
.Icon--minus {
  width: 11px;
  height: 11px;
  color: #000;
}
.QuantitySelector__CurrentQuantity {
  border: none;
  width: 35px;
  text-align: center;
}
.QuantitySelector__CurrentQuantity:focus {
  outline: none;
}
.Icon--plus {
  width: 11px;
  height: 11px;
  color: #000;
}
.ProductForm__AddToCart {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ProductForm__AddToCart:hover {
  background-color: black;
  color: white;
  transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),
    border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.Button--full {
  width: 100%;
}

.BuyButton {
  text-align: center;
  display: inline-block;
  padding: 14px 28px;
  color: #000;
  position: relative;
  line-height: normal;
  /* border: 1px solid rgba(var(--text-color-light-rgb), 0.2); */
  border: 1px solid black;
  text-transform: uppercase;
  font-size: 13px;
  font-family: Chivo, sans-serif;
  letter-spacing: 0.2em;
  font-weight: 700;
  background-color: transparent;
  /* z-index: 1; */
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  background-image: linear-gradient(to right, #000 50%, #fff 50%);
  background-position: right;
  background-size: 200% 100%;
  transition: background-position 0.5s ease;
}

.BuyButton:hover {
  background-position: left;
  color: #fff !important;
}

.Button__SeparatorDot {
  display: inline-block;
  margin: 0 18px 3px;
  content: "";
  height: 3px;
  width: 3px;
  border-radius: 100%;
  background: currentColor;
}

.payment-button {
  margin: 20px 0px 0px;
}
.PaymentButton {
  background-color: #5a31f4;
  border: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  width: 100%;
  padding: 11px 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Chivo, sans-serif;
}

.shopify-payment-button__more-options {
  margin: 15px 0px 15px;
  background: transparent;
  border: 0 none;
  cursor: pointer;
  display: block;
  font-size: 1em;
  /* margin-top: 1em; */
  text-align: center;
  width: 100%;
  font-size: 15px;
  text-decoration: underline;
  font-family: Chivo, sans-serif;
}

.ReviewButton {
  position: relative;
  /* display: inline-block; */
  padding: 14px 8px;
  line-height: normal;
  color: #fff;
  /* border: 1px solid rgba(var(--text-color-light-rgb), 0.2); */
  border: 1px solid black;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.2em;
  font-weight: 700;
  background-color: black;
  /* transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),
    border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86); */
  z-index: 1;
  width: 50%;
  font-family: Chivo, sans-serif;
  background-image: linear-gradient(to right, white 50%, #000 50%);
  background-position: right;
  background-size: 200% 100%;
  transition: background-position 0.5s ease;
  display: block;
}

.ReviewButton:hover {
  background-position: left;
  color: #000 !important;
}

/* Review Form */

fieldset {
  border: none;
}

.spr-content {
  margin-top: 20px!important;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  display: none;
}

.spr-form-title {
  display: none;
}

.spr-form-contact-name {
  margin-bottom: 25px;
}

.spr-form-label {
  font-size: 13px;
  line-height: 20px;
  display: block;
  padding-bottom: 8px;
  font-size: calc(
    var(--base-text-font-size) - (var(--default-text-font-size) - 11px)
  );
  text-transform: uppercase;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  font-style: var(--heading-font-style);
  letter-spacing: 0.2em;
  line-height: normal;
}

.spr-form-input-text {
  display: block;
  padding: 12px 14px;
  border-radius: 0;
  border: 1px solid var(--border-color);
  width: 100%;
  line-height: normal;
  resize: none;
  transition: border-color 0.1s ease-in-out;
  background: transparent;
}

.spr-form-contact-email {
  margin-bottom: 25px;
}

.spr-form-input-email {
  display: block;
  padding: 12px 14px;
  border-radius: 0;
  border: 1px solid var(--border-color);
  width: 100%;
  line-height: normal;
  resize: none;
  transition: border-color .1s ease-in-out;
  background: transparent;
}

.spr-form-review-rating {
  margin-bottom: 25px;
}

.spr-starrating {
  font-size: 15px;
  display: flex;
  justify-content: start !important;
}

.spr-form-input .spr-icon {
  font-size: calc(
    var(--base-text-font-size) - (var(--default-text-font-size) - 14px)
  );
}

.spr-icon-star-empty {
  opacity: 0.25;
}

.spr-form-review-rating a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
  background-color: transparent;
}

.spr-icon {
  font-size: 120%;
  position: relative;
  top: 1px;
  width: 1.3em;
  height: 1.3em;
}

.spr-icon-star-empty:before {
  content: "\e800";
}

[class^="spr-icon-"]:before, [class*=" spr-icon-"]:before {
  font-family: "font-awesome-stars";
  font-style: normal;
  font-weight: normal;
  /* speak: none; */
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  font-size: 120%;
}

.spr-form-review-rating:after {
  clear: both;
  content: " ";
  display: table;
}

.spr-form-review-title {
  margin-bottom: 25px;
}

.spr-form-review-title:after{
  clear: both;
  content: " ";
  display: table;
}

.spr-form-review-body .spr-form-input {
  width: 100%;
}

.spr-form-input-textarea {
  /* -webkit-appearance: none; */
  display: block;
  padding: 12px 14px;
  border-radius: 0;
  border: 1px solid var(--border-color);
  width: 100%;
  line-height: normal;
  resize: none;
  transition: border-color .1s ease-in-out;
  background: transparent;
  /* color: black; */
  color: transparent;
}

.spr-form-review-body:after {
  clear: both;
  content: " ";
  display: table;
}

.spr-form-review-body {
  margin-bottom: 25px;
}

.spr-form-actions:before, .spr-form-actions:after {
  content: " ";
  display: table;
}

input.spr-button-primary {
    width: auto;
    float: none;
}

input.spr-button-primary {
  border-color: #000;
  cursor: pointer;
  background: #000;
  color: #fff;
  padding: 14px 26px;
  position: relative;
  display: inline-block;
  border-radius: 0;
  text-transform: uppercase;
  line-height: normal;
  text-align: center;
  letter-spacing: .2em;
  font-weight: var(--heading-font-weight);
  font-family: var(--heading-font-family);
  font-style: var(--heading-font-style);
  z-index: 1;
}

input::placeholder {
  color: #000;
  font-size: 15px;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

textarea::placeholder {
  color: #000;
  font-family: var(--heading-font-family);
  font-size: 15px;

}

/* Form End */

/* Product Recommendation */

.Product__Recommendation {
  padding: 70px 0px 80px;
}

.SectionHeader {
  margin-bottom: 70px;
  text-align: center;
}

.Heading__Container {
  padding: 0px 80px;
}

.carousel {
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 30px;
  margin-bottom: -30px;
  scroll-snap-type: x mandatory; /* Enable snapping for scroll */
  scroll-padding: 0 15px; /* Add padding between slides */
}

.ProductList--carousel {
  margin: 0 90px;
}

/* Hide the previous and next arrow buttons */
.flickity-prev-next-button {
  display: none;
}

.flickity-page-dots {
  display: none;
}

/* .ProductItem {
  padding: 0px 30px;
  width: 25%;
  /* float: left;
} */

.ProductItem {
  width: 100%;
  padding: 0px 40px;
  margin-left: 0px;
}

.CarouselNav {
  outline: none;
  border: none;
}

.Carousel__Cell {
  outline: none;
  border: none;
  /* scroll-snap-align: start; */
}

.carousel .Carousel__Cell {
  scroll-snap-align: start;
}

.ProductItem__Info--center {
  text-align: center;
}

.ProductItem__Title > a {
  text-decoration: none;
  color: #000;
}

.RecommendationListWrapper::after {
  content: "";
  display: table;
  clear: both;
}

.ProductItem__Image {
  max-width: 100%;
  height: auto;
}

/* Detail Page End */

/* Footer */
.custom-container {
  margin: 0 auto;
  padding: 30px 40px 24px;
}

.custom-footer {
  background: url(/assests/Untitled-1.jpg12.jpg23.jpgnew_8be1b921-bf6c-4fa1-988e-b853340c794a.webp)
    rgb(60, 60, 60) !important;
  background-color: #262626;
  color: #fff;
}

/* Inner Content */
.custom-inner {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 25px;
}

/* Footer Block */

/* Logo */
.custom-logo {
  width: 230px;
  height: 44px;
  margin: 0 auto 20px;
}

/* Footer Content */
.custom-content {
  font-size: 14px;
  line-height: 1.5;
}

.custom-social {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  padding: 0px;
}

.custom-social-item {
  list-style: none;
  margin-right: 25px;
}

/* Quick Links */
.custom-links {
  padding: 0px;
}

/* .custom-padding {
  position: absolute;
  top: 0;
  left: 0;
} */

.custom-links-item {
  list-style: none;
  text-align: left;
  margin-bottom: 10px;
}

.custom-link {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 300px;
}

.custom-links-title {
  font-size: 13px;
  margin-bottom: 20px;
}

/* Info Links */
.custom-info-title {
  font-size: 13px;
  margin-bottom: 20px;
}

.custom-info {
  text-decoration: none;
  color: white;
  padding-left: 0px;
}

.custom-info-item {
  list-style: none;
  text-align: left;
  margin-bottom: 10px;
}

/* Newsletter */
.custom-newsletter {
  text-align: center;
}

.custom-newsletter-title {
  font-size: 13px;
  margin-bottom: 20px;
  max-width: 255px;
}

.custom-newsletter-content {
  font-size: 15px;
  line-height: 1.5;
  max-width: 255px;
}

.custom-newsletter-form {
  margin-top: 10px;
  max-width: 255px;
}

.custom-newsletter-input {
  display: block;
  padding: 12px 14px;
  border-radius: 0;
  border: 1px solid #f2b737;
  width: 100%;
  line-height: normal;
  resize: none;
  transition: border-color 0.1s ease-in-out;
  background: transparent;
  color: white;
}

.custom-newsletter-submit {
  background-color: black;
  color: #fff;
  border: 1px solid white;
  cursor: pointer;
  display: block;
  margin-top: 20px;
  padding: 14px 28px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* Aside */
.custom-aside {
  margin-top: 20px;
  margin-left: 45px;
}

.custom-storename {
  font-size: 12px;
  color: #777;
  text-decoration: none;
  color: #fff;
}

/* Filter Drawer */

.Drawer--fromRight {
  position: fixed;
  top: 0;
  right: -400px;
  z-index: 30;
  background-color: white;
  width: 400px;
  height: 100vh;
  display: block;
  transition: right 0.5s ease; /* Use 'right' instead of 'left' for reverse animation */
}

.Drawer--open {
  right: 0;
}

.Drawer--closing {
  right: -400px;
  transition: right 0.5s ease;
}

.Drawer--fromRight .Drawer__Container {
  padding-left: 30px;
  padding-right: 30px;
}
.Drawer__Header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background: inherit;
  text-align: center;
  z-index: 1;
  box-shadow: 0 -1px rgba(var(--border-color-rgb), 0.6) inset;
  width: 100%;
}
.Drawer__Title {
  flex-grow: 1;
  font-weight: 600;
}
.Drawer__Close {
  border: none;
  background: none;
}
.Icon--close {
  width: 16px;
}
.Drawer__Content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
  overflow-y: auto;
  /* height: calc(100% - 60px); */
  max-height: calc(100% - 50px);
}
.Drawer__Main {
  max-height: calc(100vh - 60px);
  overflow-y: auto;
  padding-top: 32px;
}
.Collapsible--padded {
  padding: 0px 24px 0px;
  margin: 0px 0px 32px;
}

.Drawer__Footer {
  padding: 24px 30px;
  box-shadow: 0 -1px rgba(var(--border-color-rgb), 0.6);
}
.Button--results {
  width: 100%;
  background: black;
  color: white;
  transition: transform 0.5s ease;
}

.Button--results.moved-up {
  transform: translateY(-10px);
}

/* -------------------1140px----------------- */
@media screen and (max-width: 1140px) {
  .bars {
    display: block;
  }
  .Header__MainNav {
    display: none;
  }
  .Header__FlexItem--logo {
    margin-left: auto;
  }
  .custom-padding {
    padding-left: 0px;
    padding-right: 180px;
  }
  .account-icon {
    display: none !important;
  }
  .hidden-tablet-and-up {
    width: 18px;
    display: none;
  }
  .hidden-phone {
    width: 21px;
    display: block;
  }
  /* detail page */

  .Product__SlideshowNav {
    display: none;
  }

  .Product__Gallary {
    margin: 0px 0px 80px 0px;
  }
  .Product__Slideshow {
    padding-left: 0px;
    /* flex: 1 0 auto; */
    /* max-width: 400px; */
    margin-left: auto;
    margin-right: auto;
  }
  .lazyautosizes {
    max-width: 100%;
    height: auto;
  }
  .Product__Info {
    margin: 0px 46px 0px 22px;
    /* color: #000; */
    /* text-align: left; */
    /* padding-bottom: 24px; */
    /* margin-bottom: 24px; */
  }
  .ReviewButton {
    padding: 14px 6px;
  }
  .Product__Slideshow--left .flickity-page-dots {
    position: absolute;
    top: 150px;
    left: -40px;
    display: flex;
    flex-direction: column;
  }
  .flickity-page-dots .dot {
    margin: 5px 0px !important;
  }
  .spr-content {
    /* margin-top: 20px!important; */
    max-width: 335px;
  }
}

/* -------------------1007px----------------- */
@media only screen and (max-width: 1007px) {
  .Product__Wrapper {
    flex-direction: column;
  }
  .Product__Gallary {
    /* display: flex;
    margin: 0px 0px 80px 50px; */
    width: 100%;
    /* background-color: grey; */
  }
  .Product__InfoWrapper {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0px;
  }
  .Product__Info {
    /* margin: 0px 100px 0px 50px; */
    margin: 0px;
    color: #000;
    text-align: center;
    max-width: 500px;
  }
  .button__container {
    /* display: block; */
    text-align: left;
  }
  .ReviewButton {
    width: 41%;
  }
  /* .ProductItem {
    width: 100%; 
    height: auto;
    padding: 0px 15px;
    margin-left: 0px;
  } */
  .RecommendationListWrapper {
    margin: 20px;
  }
  .Carousel__Cell {
    outline: none;
    border: none;
  }
  .Product__SlideItem {
    margin: 0px auto;
    max-width: 820px;
    height: auto;
  }
  .ProductItem {
    width: 100%;
    height: auto;
    padding: 0px 15px;
  }
  .reviews {
    text-align: left;
  }
  .Product__Slideshow--left .flickity-page-dots {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    flex-direction: column;
  }
  .flickity-page-dots .dot {
    margin: 0px 5px !important;
  }
  .spr-content {
    /* margin-top: 20px!important; */
    max-width: 460px;
  }
}

/* -------------------640px----------------- */
@media screen and (max-width: 640px) {
  .AnnouncementBar__Wrapper {
    flex-direction: column;
  }
  .Heading {
    font-size: 10px !important;
  }
  .Collapsible__Button .Heading {
    font-size: 13px;
  }
  .Header__Wrapper {
    padding: 15px 18px;
  }
  .Header__LogoImage {
    max-width: 185px;
    height: auto;
    margin-left: 100px;
  }
  .navbar-icon {
    font-size: 18px;
    display: flex;
    align-items: center;
  }

  .Icon--search-desktop {
    width: 21px;
    display: none;
  }
  .Icon--search {
    width: 18px;
    display: block;
  }

  .Icon--cart-desktop {
    width: 19px;
    display: none;
  }

  .Icon--cart {
    width: 17px;
    color: white;
    display: block;
  }

  .account-icon {
    display: none !important;
  }
  .custom-heading {
    font-size: 22px;
    max-width: 100%;
  }

  .hidden-tablet-and-up {
    width: 18px;
    display: block;
  }
  .hidden-phone {
    width: 21px;
    display: none;
  }

  /* Detail Page */
  .Product__Info {
    margin: 0px;
    color: #000;
    text-align: center;
    max-width: 452px;
  }

  .ReviewButton {
    width: 100%;
  }

  .ProductItem {
    width: 100%; /* Show 2 products per slide on mobile */
    padding: 0px 15px;
    margin-left: 0px;
  }
  .RecommendationListWrapper {
    margin: 20px;
  }
  .Carousel__Cell {
    outline: none;
    border: none;
  }

  .reviews {
    text-align: left;
  }

  input.spr-button-primary {
    width: 100%;
  }

  /* Detail Page End */

  /* Footer */
  .custom-container {
    margin: 0 auto;
    padding: 0 20px;
  }

  .custom-footer {
    background-color: #262626;
    padding: 40px 0px 20px;
  }

  /* Inner Content */
  .custom-inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  /* Footer Block */
  .custom-block {
    /* flex-basis: 100%; */
    margin-bottom: 20px;
    width: 100%;
  }

  .custom-block:last-child {
    margin-bottom: 0;
  }
  /* Logo */
  .custom-logo {
    width: 230px;
    height: 44px;
    margin: 0 auto 20px;
  }

  /* Footer Content */
  .custom-content {
    font-size: 14px;
    line-height: 1.5;
  }

  /* Social Icons */
  .custom-social {
    display: flex;
    margin-bottom: 0px;
  }

  .custom-padding {
    padding-left: 0px;
  }

  .custom-links-title {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .custom-info-title {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .custom-newsletter-title {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .custom-newsletter-content {
    font-size: 14px;
    line-height: 1.5;
  }

  .custom-newsletter-form {
    margin-top: 10px;
  }

  .custom-newsletter-input {
    display: block;
    padding: 12px 14px;
    border-radius: 0;
    border: 1px solid #f2b737;
    width: 100%;
    line-height: normal;
    resize: none;
    transition: border-color 0.1s ease-in-out;
    background: transparent;
    color: white;
  }

  .custom-newsletter-submit {
    background-color: black;
    color: #fff;
    border: 1px solid white;
    cursor: pointer;
    display: block;
    margin-top: 20px;
    padding: 14px 28px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }

  /* Aside */
  .custom-aside {
    text-align: center;
    margin: 0;
  }

  .custom-storename {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
  }
}

/* -------------------450px----------------- */
@media screen and (max-width: 450px) {
  .AnnouncementBar__Wrapper {
    padding: 10px 40px;
  }
  .Header__LogoImage {
    margin-left: 30px;
  }
  .navbar-icon:first-child {
    margin-left: 0px;
  }
  #drawer {
    width: 331px;
    left: -331px;
    height: 100%;
  }
  .SearchDropdown {
    padding: 14px 18px;
  }
  .main__container {
    padding: 0px;
  }
  .Product__Gallary {
    margin: 0px 0px 60px 0px;
  }
  .Product__Info {
    padding: 0px 24px;
  }
  .reviews {
    text-align: left;
  }
  .Product__SlideItem {
    margin: 0px auto;
    max-width: 350px;
  }
  .ProductItem {
    width: 100%;
    padding: 0px 15px;
  }
  .RecommendationListWrapper {
    margin: 20px;
  }
  .Carousel__Cell {
    outline: none;
    border: none;
  }
}
