* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  font-family: Chivo, sans-serif;
  line-height: 1.65;
  background: #f2b737;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* WELCOME POPUP */
.Icon--close {
  width: 14px;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #efecec;
  padding: 20px;
  /* border-radius: 5px; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 200px;
  /* height: 150px; */
  /* padding: 80px auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup-close {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  /* background-color: #f2b737; */
  /* padding: 1px 7px; */
  /* border-radius: 50%; */
  stroke-width: 2.25px;
}

/* WELCOME POPUP END */

.PageOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 20;
  visibility: hidden;
  /* display: none; */
  opacity: 0;
  background: #363636;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.is-visible {
  opacity: 0.5;
  visibility: visible;
}

.drawer-dropdown {
  display: none;
  padding-left: 15px;
  transition: left 0.5s ease;
}

.show-dropdown {
  display: block;
}

.drawer-link {
  text-decoration: none;
  color: #00000080;
}

.drawer-linklist__item {
  list-style: none;
  font-size: 12px;
  padding: 13px 0px;
}

#drawer {
  position: relative;
  width: 340px;
  height: 100vh;
  background-color: #f2b737;
  position: fixed;
  top: 0;
  left: -500px;
  transition: left 0.5s ease;
  z-index: 30;
  /* transition: transform .5s cubic-bezier(0.645, 0.045, 0.355, 1),visibility .5s cubic-bezier(0.645, 0.045, 0.355, 1); */
}

.drawer-main {
  padding: 0px 24px 18px 18px;
}

.drawer-content {
  flex: 1;
  overflow-y: auto;
  max-height: calc(100vh - 130px);
}
#close-button {
  background-color: #f2b737;
  border: none;
  font-size: 20px;
  margin-left: 0;
  padding: 0;
  line-height: 0;
}

.drawer-header {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 18px;
}

.drawer-main::after {
  display: block;
  content: "";
  height: 35px;
}

#drawer.open {
  left: 0;
}

#menu-button {
  background: none;
  border: none;
  cursor: pointer;
}

.menu-icon {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #000;
  margin-bottom: 6px;
  transition: transform 0.3s ease;
}

.menu-icon.open {
  transform: rotate(45deg);
}

.menu-icon.open:before {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #000;
  transform: rotate(-90deg) translateX(-10px);
  transition: transform 0.3s ease;
}

.menu-icon.open:after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #000;
  transform: rotate(-90deg) translateX(10px);
  transition: transform 0.3s ease;
}

.collapsible-button {
  color: black;
  text-decoration: none;
}

.horizontal-line {
  border: 0.5px solid #00000080;
  margin: 0px !important;
}

.primary-link {
  color: black;
  text-decoration: none;
  display: block;
  /* margin-bottom: 10px; */
  padding: 20px 0px;
  font-size: 13px;
  font-weight: 700;
}

.Collapsible__Plus {
  position: absolute;
  right: 0;
  top: calc(50% - 5.5px);
  width: 11px;
  height: 11px;
  transform-origin: center; /* Set the transform origin to the center of the plus icon */
}

.Collapsible__Plus:before {
  width: 11px;
  height: 1px;
  opacity: 1;
}

.Collapsible__Plus:before,
.Collapsible__Plus:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  background-color: currentColor;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.Collapsible__Plus:after {
  width: 1px;
  height: 11px;
}

/* CSS for the Minus icon */
.Collapsible__Plus.minus:before {
  transform: translate(-50%, -50%) rotate(0deg); /* Rotate back to 0 degrees */
}

.Collapsible__Plus.minus:after {
  width: 0; /* Hide the vertical line */
  height: 0; /* Hide the vertical line */
}

.account-drawer {
  color: #00000080;
  font-weight: 300 !important;
  font-size: 15px;
  margin-top: 8px;
  padding-bottom: 0px;
}

.social-list {
  display: flex;
  list-style: none;
  color: #00000080;
  justify-content: space-around;
  padding: 12px 50px;
  align-items: center;
}

.drawer-footer {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 48px;
  /* padding-top: 10px; */
  /* transition: bottom 0.4s ease-out 0.2s; */
  transition: 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s,
    transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
}

.drawer-up {
  bottom: 0;
}

.drawer-footer::before {
  bottom: 100%;
  height: 30px;
  background-image: linear-gradient(
    rgba(var(--navigation-background-rgb), 0.5),
    rgba(var(--navigation-background-rgb), 0.8) 40%,
    var(--navigation-background)
  );
  position: absolute;
  content: "";
  width: 100%;
  pointer-events: none;
  z-index: 1;
  /* backdrop-filter: blur(1px); Standard syntax  */
}

.Icon--facebook {
  height: 15px;
  width: 15px;
  fill: currentColor;
}

.Icon--youtube {
  height: 15px;
  width: 15px;
  fill: currentColor;
}

/* AnnoucementBar */

.AnnouncementBar__Wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}

.AnnouncementBar__Content {
  color: #000 !important;
  font-weight: bold;
  font-size: 15.5px !important;
}

.Heading {
  margin: 0;
}

.right {
  text-align: center;
}

.left {
  text-align: center;
}

.HorizontalList__Item::after {
  position: absolute;
  content: "";
  display: block;
  width: auto;
  height: 1px;
  background-color: #fff;
  /* transition: width 0.3s; */
  bottom: 0;
  transition: width 0.3s, transform 0.3s, opacity 0.3s; /* Add the additional transition properties */
  transform: scaleX(0);
  transform-origin: left center;
}

.HorizontalList__Item.is-active::after,
.HorizontalList__Item:hover::after {
  width: 40px;
  opacity: 1; /* To make the element visible on hover or when it's active */
  transform: scaleX(
    1
  ); /* To show the border-bottom on hover or when it's active */
}

.About_HorizontalList_Item::after {
  position: absolute;
  content: "";
  display: block;
  width: auto;
  height: 1px;
  background-color: #fff;
  transition: width 0.3s;
  bottom: 0;
  transition: width 0.3s, transform 0.3s, opacity 0.3s; /* Add the additional transition properties */
  transform: scaleX(0);
  transform-origin: left center;
}

.About_HorizontalList_Item:hover::after {
  width: 58px;
  opacity: 1;
  transform: scaleX(1);
}

.Contact_HorizontalList_Item::after {
  position: absolute;
  content: "";
  display: block;
  width: auto;
  height: 1px;
  background-color: #fff;
  transition: width 0.3s;
  bottom: 0;
  transition: width 0.3s, transform 0.3s, opacity 0.3s; /* Add the additional transition properties */
  transform: scaleX(0);
  transform-origin: left center;
}

.Contact_HorizontalList_Item:hover::after {
  width: 50px;
  opacity: 1;
  transform: scaleX(1);
}

.Link--noUnderline::after {
  width: 0;
}

.Link--noUnderline:hover::after {
  width: 0;
}

.Header__FlexItem {
  display: flex;
  justify-content: flex-start;
}

/* icons */

.navbar_Icon {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 20px;
}

.Icon--account {
  width: 20px;
}

.Icon--search-desktop {
  width: 21px;
  display: block;
}
.Icon--search {
  width: 18px;
  display: none;
}

.Icon--cart-desktop {
  width: 19px;
}

.Icon--cart {
  width: 17px;
  display: none;
}

.HorizontalList__Item {
  text-align: left !important;
  font-weight: 500;
  cursor: pointer;
  /* position: relative; */
}

.HorizontalList__Item:first-child {
  margin-left: 0 !important;
}

.HorizontalList__Item.is-active {
  cursor: pointer;
}

.Heading {
  text-decoration: none;
  color: white;
  font-size: 13px;
}

.Header__Wrapper {
  background: url(/assests/Untitled-1.jpg12.jpg23.jpgnew_8be1b921-bf6c-4fa1-988e-b853340c794a.webp)
    rgb(60, 60, 60) !important;
  display: flex;
  align-items: center;
  /* background-color: #262626; */
  padding: 18px 50px 18px;
  position: sticky !important;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid #fff;
}

.Icon--nav {
  display: none;
}

.HorizontalList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.HorizontalList__Item {
  display: inline-block;
  margin: 6px 21px;
  font-weight: 700;
  cursor: pointer;
}

.shop-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.DropdownMenu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 100%;
  padding: 25px 45px 25px 25px;
  min-width: 200px;
  max-width: 270px;
  width: max-content;
  text-align: left;
  background: #efecec;
  border: 1px solid #efecec;
  border-top: none;
  transition: all 0.3s ease-in-out;
  line-height: 1.2; /* Adjust the value as needed */
}

.HorizontalList__Item:hover .DropdownMenu {
  visibility: visible;
  opacity: 1;
}

.Linklist__Item {
  /* list-style: none;
  line-height: -1px;
  padding: 5px 0px; */
  position: relative;
  display: block;
  margin-bottom: 12px;
  width: 100%;
  line-height: 1.5;
  text-align: left;
  transition: all .2s ease-in-out;
}

.Link--secondary {
  color: #000;
  text-decoration: none;
  font-weight: 300;
  font-size: 15px;
}

.Link {
  color: #efecec;
  text-decoration: none;
}

.bars {
  display: none;
}

.navbar-icons {
  display: flex;
  align-items: center;
  /* Add your icons container styles here */
}

.navbar-icon {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 30px;
  color: white;
  font-size: 20px;
}

.Header__FlexItem--logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-left: -150px;
  z-index: -1;
}

.Header__Logo {
  margin: 0;
}

.Header__LogoLink {
  text-decoration: none;
  padding: 0;
  margin: 0;
  max-height: 93.5px;
}

.Header__LogoImage {
  max-width: 350px;
  height: auto;
}

/* Search Section */

/* .SearchDropdown {
  position: absolute;
  top: 120%;
  width: 100%;
  left: 0;
  padding: 28px 50px;
  background: #f2b737;
  visibility: hidden;
  transform: translateY(-25px);
  transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out,
  visibility 0.15s ease-in-out;
} */

.SearchDropdown {
  position: absolute;
  top: 101%;
  width: 100%;
  left: 0;
  z-index: -10;
  padding: 28px 50px;
  background: #f2b737;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-5px);
  /* transition: transform 0.15s ease, opacity 0.15s ease, visibility 0.15s ease; */
  transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out,
    visibility 0.15s ease-in-out;
}

.search_down {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.Search__Inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Search__InputIconWrapper {
  padding-right: 20px;
}

.Search__Form {
  display: flex;
  align-items: center;
  width: 100%;
}

/* .Search__Input {
  background: none;
  width: 100%;
  height: 25px;
  border: none;
  font-size: 14px;
  vertical-align: middle;
  padding: 0px;
} */

.Search__Input {
  background: none;
  width: 100%;
  height: 25px;
  border: none;
  outline: none; /* Remove the default focus outline */
  font-size: 14px;
  vertical-align: middle;
  /* padding: 0px; */
  padding-top: 3px; /* Adjust the value as needed */
  box-sizing: border-box;
  line-height: normal;
}

.Search__Input::placeholder {
  color: black;
  font-weight: bold;
  font-size: large;
}

#Search__Close {
  /* /* position: absolute; */
  /* top: 50%;
  right: 10px; */
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  color: black;
  font-size: 14;
  line-height: 1;
}

.hidden-tablet-and-up {
  width: 18px;
  display: none;
}

.hidden-phone {
  width: 21px;
  display: block;
}

/* Extraction Section */

.container {
  display: flex;
}

.text-section {
  flex: 1;
  color: #000;
  padding: 50px 100px 50px 50px;
  margin: 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.custom-heading {
  max-width: 430px;
  font-size: 26px;
  line-height: 36px;
  margin: 0px 0px 22px 0px;
}
.custom-description {
  letter-spacing: 0.5px;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 20px;
  max-width: 430px;
}

/* .honey-extractor-link {
  width: 430px;
} */

.custom-link-transiton {
  letter-spacing: 0.5px;
  position: relative;
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: black;
  transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.custom-link-transiton::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background: currentColor;
  transform: scale(1);
  transform-origin: left center;
  transition: transform 0.2s ease-in-out;
}

.custom-link-transiton:hover::after {
  transform: scale(0);
}

/* .custom-link-transiton:hover {
  text-decoration: none;
  color: black;
}  */

.image-section {
  /* flex: 1; */
  width: 50%;
  display: flex;
  justify-content: center; /* Horizontally center the image */
  align-items: center; /* Vertically center the image */
  overflow: hidden; /* Hide any overflow to prevent scrollbars */
}

.bee-image-section {
  /* flex: 1; */
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}

.honey_extractor {
  max-width: 100%;
  height: auto;
  transform: translateX(100%); /* Start the image off-screen on the right */
  transition: transform 1s ease;
}

.honey_extractor.show-image {
  transform: translateX(0); /* Move the image back to its original position */
}

.bee-img {
  max-width: 100%;
  height: auto;
  /* transition: transform 0.5s ease-in-out; */
  transform: translateX(100%); /* Start the image off-screen on the right */
  transition: transform 1s ease;
}

.bee-img.show-image {
  transform: translateX(0); /* Move the image back to its original position */
}

.colo {
  width: 70%;
  margin: auto;
  text-align: center;
  margin: 0;
}
.roww {
  width: 100%;
  display: flex;
  padding: 0px 80px;
}
.Shipping__Text {
  margin: 0;
  color: white;
}
.Shipping__Container {
  background: url(/assests/Untitled-1.jpg12.jpg23.jpgnew_8be1b921-bf6c-4fa1-988e-b853340c794a.webp)
    rgb(60, 60, 60) !important;
  background-color: #262626;
  padding: 20px 0px;
}

/* Card Section */

.Category__Section {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  padding: 10px 0px 40px;
}
.product-card {
  /* width: 300px; */
  border: 3px solid #f2b737;
  overflow: hidden;
  /* outline: 5px solid white; */
  width: calc(16.666% - 20px);
  margin-bottom: 20px;
}

.product-image {
  perspective: 800px; /* Set the perspective for 3D transformation */
}

.product-image img {
  width: 100%;
  height: auto;
  transform: translateZ(
    0
  ); /* Set the initial z-axis value for 3D transformation */
  transition: transform 0.5s ease;
}

.product-image img.loaded {
  transform: translateZ(
    -200px
  ); /* Move the image back in the z-axis to create the 3D effect */
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px 12px 12px;
}

.product-title {
  font-size: 16px;
  color: #000;
  text-align: center;
  line-height: 1.2;
  margin: 10px;
}

/* .view-product-button {
  text-align: center;
  display: inline-block;
  padding: 7px 10px;
  background-color: #f2b737;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  border: 1px solid #f2b737;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
} */

.view-product-button {
  text-align: center;
  display: inline-block;
  padding: 7px 10px;
  background-image: linear-gradient(to right, white 50%, #f2b737 50%);
  background-position: right;
  background-size: 200% 100%;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  border: 1px solid #f2b737;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  position: relative;
  transition: background-position 0.5s ease;
}

.view-product-button:hover {
  background-position: left;
  color: #f2b737 !important;
}

/* what we do */
.do__container {
  display: flex;
  /* padding: 50px 0px 55px 50px; */
  color: #000;
}

.do-text-section {
  flex: 1;
  color: #000;
  /* padding: 0px 100px; */
  padding: 50px 100px 50px 50px;
  margin: 0;
  display: flex;
  align-items: center;
}

.FeatureText__Content {
  margin: 0px auto;
  text-align: left;
}

.FeatureText__Content > h2 {
  margin-bottom: 22px;
}

.do-text-section > h2 {
  margin: 0;
  padding: 0;
}

.do__text {
  font-size: 15px;
  max-width: 430px;
}

/* Footer */
.custom-container {
  margin: 0 auto;
  padding: 30px 40px 24px;
}

.custom-footer {
  background: url(/assests/Untitled-1.jpg12.jpg23.jpgnew_8be1b921-bf6c-4fa1-988e-b853340c794a.webp)
    rgb(60, 60, 60) !important;
  background-color: #262626;
  color: #fff;
}

/* Inner Content */
.custom-inner {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 25px;
}

/* Footer Block */

/* Logo */
.custom-logo {
  width: 230px;
  height: 44px;
  margin: 0 auto 20px;
}

/* Footer Content */
.custom-content {
  font-size: 14px;
  line-height: 1.5;
}

.custom-social {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  padding: 0px;
}

.custom-social-item {
  list-style: none;
  margin-right: 25px;
}

/* Quick Links */
.custom-links {
  padding: 0px;
}

.custom-padding {
  padding-left: 150px;
}
.custom-links-item {
  list-style: none;
  text-align: left;
  margin-bottom: 10px;
}

.custom-link {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 300px;
}

.custom-links-title {
  font-size: 13px;
  margin-bottom: 20px;
}

/* Info Links */
.custom-info-title {
  font-size: 13px;
  margin-bottom: 20px;
}

.custom-info {
  text-decoration: none;
  color: white;
  padding-left: 0px;
}

.custom-info-item {
  list-style: none;
  text-align: left;
  margin-bottom: 10px;
}

/* Newsletter */
.custom-newsletter {
  text-align: center;
}

.custom-newsletter-title {
  font-size: 13px;
  margin-bottom: 20px;
  max-width: 255px;
}

.custom-newsletter-content {
  font-size: 15px;
  line-height: 1.5;
  max-width: 255px;
}

.custom-newsletter-form {
  margin-top: 10px;
  max-width: 255px;
}

.custom-newsletter-input {
  display: block;
  padding: 12px 14px;
  border-radius: 0;
  border: 1px solid #f2b737;
  width: 100%;
  line-height: normal;
  resize: none;
  transition: border-color 0.1s ease-in-out;
  background: transparent;
  color: white;
}

input:focus {
  outline: none;
}

.custom-newsletter-submit {
  /* background-color: black; */
  color: #fff;
  border: 1px solid white;
  cursor: pointer;
  display: block;
  margin-top: 20px;
  padding: 14px 28px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-image: linear-gradient(to right, transparent 50%, #000 50%);
  background-position: right;
  background-size: 200% 100%;
  /* transition: background-position 0.5s ease; */
  transition: 0.3s ease;
}

.custom-newsletter-submit:hover {
  background-color: transparent;
  background-position: left;
  color: #fff !important;
}

.custom-block {
  letter-spacing: 0.5px;
  font-weight: 400;
}

/* Aside */
.custom-aside {
  margin-top: 20px;
  margin-left: 45px;
}

.custom-storename {
  font-size: 12px;
  color: #777;
  text-decoration: none;
  color: #fff;
}

/* -------------------1140px----------------- */
@media screen and (max-width: 1140px) {
  .Header__Wrapper {
    padding: 18px 30px 18px;
  }
  .Header__LogoLink {
    max-height: 93.5px;
  }
  .Icon--nav {
    display: none;
  }

  .bars {
    display: block;
  }
  .Header__MainNav {
    display: none;
  }
  /* .Header__FlexItem--logo {
    margin-left: auto;
  } */

  .Header__FlexItem--logo {
    margin-left: 110px;
  }
  .product-card {
    width: calc(50% - 20px);
    border: none;
  }
  .custom-padding {
    padding-left: 155px;
    padding-right: 25px;
  }
  .account-icon {
    display: block;
    margin-left: 0px;
  }
  .hidden-tablet-and-up {
    width: 18px;
    display: none;
  }
  .hidden-phone {
    width: 21px;
    display: block;
  }
  .Icon--search-desktop {
    width: 21px;
    display: block;
  }
}

@media only screen and (max-width: 1007px) {
  .text-section {
    padding: 50px 40px 50px 50px;
  }
  .custom-padding {
    padding: 0px;
  }
  .custom-block {
    width: 50%;
    margin-bottom: 50px;
  }
  .custom-newsletter-form {
    max-width: 100%;
  }
  .custom-newsletter-title {
    max-width: 100%;
  }
  .custom-inner {
    padding: 0px;
  }
  .custom-aside {
    margin-top: 20px;
    margin-left: 10px;
  }
}

/* -------------------640px----------------- */
@media screen and (max-width: 640px) {
  .AnnouncementBar__Wrapper {
    flex-direction: column;
  }
  .Heading {
    font-size: 10px !important;
  }
  .Header__FlexItem--logo {
    margin-left: 5px;
  }
  .Header__Wrapper {
    padding: 15px 18px;
  }
  .Header__LogoLink {
    max-height: 49.5px;
  }
  .custom-description {
    max-width: 100%;
  }
  .Icon--nav {
    display: block;
  }

  .Icon--nav-desktop {
    display: none;
  }

  .Header__LogoImage {
    max-width: 185px;
    height: auto;
    margin-left: 100px;
  }
  .navbar-icon {
    font-size: 18px;
    display: flex;
    align-items: center;
  }

  .Icon--search-desktop {
    width: 21px;
    display: none;
  }
  .Icon--search {
    width: 18px;
    display: block;
  }

  .hidden-tablet-and-up {
    width: 18px;
    display: block;
  }
  .hidden-phone {
    width: 21px;
    display: none;
  }
  .Icon--cart-desktop {
    width: 19px;
    display: none;
  }

  .Icon--cart {
    width: 17px;
    color: white;
    display: block;
  }

  .account-icon {
    display: none !important;
  }
  .container {
    flex-direction: column;
  }
  .text-section {
    width: 100%;
    padding: 50px 24px 20px;
    text-align: center;
  }
  .custom-heading {
    font-size: 22px;
    max-width: 100%;
  }
  .product-title {
    font-size: 22px;
    margin: 0;
    color: #000;
    text-align: center;
    line-height: 1.2;
    margin: 10px 0px 12px;
  }
  .view-product-button {
    padding: 10px 28px;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 13px;
    margin: 15px;
  }
  .image-section {
    width: 100%;
  }
  .honey_extractor {
    width: 100%;
  }
  .bee-image-section {
    width: 100%;
    justify-content: center;
  }
  .custom-link-transiton {
    text-align: center;
  }
  .colo {
    padding-right: 50px;
  }
  .Category__Section {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    padding-top: 0px;
    background-color: #f2b737;
  }

  .product-details {
    background-color: #fff;
  }

  .product-card {
    width: 100%;
    outline: none;
    margin: 25px;
    /* border: 25px solid #f2b737;
    border-bottom: 0px solid #f2b737; */
    margin-bottom: 0px;
    background-color: white;
  }

  .do__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px;
  }

  .do-text-section {
    padding: 50px 24px 20px;
  }

  .do__text {
    font-size: 15px;
    max-width: 100%;
  }

  .bee-img {
    max-width: 100%;
    height: auto;
  }

  .roww {
    width: 100%;
    display: flex;
  }

  .FeatureText__Content {
    margin: 0px auto;
    text-align: center;
  }

  /* .Category__Section {
    padding: 0px;
    background-color: #f2b737;
  } */

  /* .product-card {
    background-color: white;
  } */

  /* Footer */
  .custom-container {
    margin: 0 auto;
    padding: 0 24px;
  }

  /* Footer */
  .custom-footer {
    background-color: #262626;
    padding: 30px 0px 24px;
  }

  /* Inner Content */
  .custom-inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  /* Footer Block */
  .custom-block {
    /* flex-basis: 100%; */
    margin-bottom: 48px;
    width: 100%;
  }

  .custom-block:last-child {
    margin-bottom: 0;
  }

  /* Logo */
  .custom-logo {
    width: 230px;
    height: 44px;
    margin: 0 auto 20px;
  }

  /* Footer Content */
  .custom-content {
    font-size: 14px;
    line-height: 1.65;
    letter-spacing: 1px;
    font-weight: 400;
  }

  /* Social Icons */
  .custom-social {
    display: flex;
    margin-bottom: 0px;
  }

  .custom-padding {
    padding-left: 0px;
  }

  .custom-links-title {
    font-size: 13px;
    margin-bottom: 10px;
  }

  .custom-info-title {
    font-size: 13px;
    margin-bottom: 10px;
  }

  .custom-newsletter-title {
    font-size: 13px;
    margin-bottom: 20px;
    max-width: 100%;
  }

  .custom-newsletter-content {
    font-size: 14px;
    line-height: 1.5;
    max-width: 100%;
  }

  .custom-newsletter-form {
    margin-top: 18px;
  }

  .custom-newsletter-input {
    display: block;
    padding: 12px 14px;
    border-radius: 0;
    border: 1px solid #f2b737;
    width: 100%;
    line-height: normal;
    resize: none;
    transition: border-color 0.1s ease-in-out;
    background: transparent;
    color: white;
  }

  .custom-newsletter-submit {
    background-color: black;
    color: #fff;
    border: 1px solid white;
    cursor: pointer;
    display: block;
    margin-top: 20px;
    padding: 14px 28px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }

  /* Aside */
  .custom-aside {
    text-align: center;
    margin: 0;
  }

  .custom-storename {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
  }
}

/* -------------------450px----------------- */
@media screen and (max-width: 450px) {
  .popup-content {
    width: 300px;
    height: 150px;
    font-size: 14px;
  }
  .AnnouncementBar__Wrapper {
    padding: 10px 40px;
  }
  .Header__LogoImage {
    margin-left: 30px;
  }
  .Header__Wrapper {
    padding: 15px 18px 15px;
  }
  .Shipping__Text {
    font-size: 18px;
  }
  .roww {
    padding: 0px 24px;
  }
  .colo {
    padding: 0px;
  }
  .navbar-icon:first-child {
    margin-left: 0px;
  }
  .Category__Section {
    padding: 0px;
  }
  .text-section {
    padding: 50px 24px 20px;
  }
  #drawer {
    width: calc(100vw - 65px);
    left: -100vw;
  }
  .SearchDropdown {
    padding: 14px 18px;
  }
  .custom-padding {
    padding: 0px;
  }

  .custom-info-item {
    font-size: 15px;
  }
  .custom-container {
    padding: 0px 24px;
  }
  .custom-inner {
    padding: 0px;
  }
  .custom-newsletter-form {
    margin-top: 18px;
    max-width: 100%;
  }
  .custom-block {
    margin-bottom: 48px;
  }
  .custom-footer {
    padding-top: 30px;
  }
  .colo {
    width: 75%;
  }
}

/* -------------------350px----------------- */
@media screen and (max-width: 350px) {
  .popup-content {
    width: 250px;
    height: 120px;
    font-size: 11px;
  }
  .Header__LogoLink {
    max-height: 49.5px;
  }
  .Header__LogoImage {
    margin-left: auto;
  }
  .navbar-icon {
    margin-left: auto;
  }
  .navbar-icon:last-child {
    margin-left: 15px;
  }
  .Drawer--fromRight {
    width: 234px;
  }
  .Drawer--open {
    right: 0;
  }
  .Drawer--closing {
    right: -234px;
    transition: right 0.5s ease;
  }
}
